[2019-11-23 22:43] NeighborGeek opened #4 "Works initially, but after some time requests fail & return 'token is expired' message"
I am running bluelinky on a raspberry pi 4, using [this code](https://gist.github.com/Hacksore/22339df4a045f5a5133f3f62bde28c88) to start a web daemon listening for commands.  It works great when I first launch it, but after some period of time commands stop working and I get this error back instead:

`/lock 192.168.1.99
token is expired, refreshing access token
TypeError: Cannot read property 'RE

[2019-11-24 17:40] Hacksore commented on #4
Thanks for submitting an issue @NeighborGeek. My best guess is the token refreshing logic is not working as expected hence the error you are getting.

I've been using firebase functions so my token basically refreshes every request. I just added some better error handling to the token refresh logic so could you please update to `0.0.3` and if the issue persists hopefully the logs should give us a

[2019-11-25 15:41] NeighborGeek commented on #4
I updated yesterday and this morning the command still failed with a token is expired message, but the rest of the error was different:

`/lock 192.168.1.99
Token is expired, refreshing access token
Error: PIN is locked, please correct the isssue before trying again.
    at Vehicle.<anonymous> (/home/pi/Documents/node_modules/bluelinky/dist/index.js:333:23)
    at Generator.next (<anonymous>)

[2019-11-25 17:46] Hacksore commented on #4
@NeighborGeek

I was seeing that same issue which was causing the first issue you saw. I added a check to see if the response from the api says pin locked.

Must be some kind of rate limiting on their side? How frequently are you calling the lock command.

[2019-11-25 17:49] NeighborGeek commented on #4
Hours apart. It worked twice last night around 3 hours apart. This morning,
it failed with that error.

On Mon, Nov 25, 2019 at 11:46 AM Sean Boult <notifications@github.com>
wrote:

[2019-11-25 19:15] NeighborGeek commented on #4
It looks like that expires_in value comes out to just under 8 hours if it is in seconds.  Based on the fact that it works for at least a few hours, that seems possible.  The times that it stops working for me have been more than 8 hours after starting the program.  I don't think I've tried it at all between 4-8 hours after starting it, but I can't be sure.  You might consider adding a timestamp to

[2019-11-25 19:38] altagir opened #5 "Support for bluelink in Canada"
I always get an empty auth here. username and password are correct.
should i enable something to access API ?

Edit: turns out this is related to the same US API service not being compatible with Canada vehicles.

[2019-11-25 23:21] Hacksore commented on #5
@altagir So you can log in here without any issues?
https://owners.hyundaiusa.com/us/en/index.html

 I think I need to add some better logging so we can opt-in to more verbose output when debugging.

[2019-11-25 23:53] altagir commented on #5
No i can't. But i think you just pinpoint the issue

i bought EV in canada. So i probably dont have account in the hyundaiusa.com website.

I guess i can change server?

[2019-11-26 00:07] Hacksore commented on #5
@altagir Can you please link the site for Canada and I can try and add in support :).

[2019-11-26 02:18] altagir commented on #5
unbelievably there is no account creation at hyundaicanada.com , nor there is probably opened api?
i will try to trick US account creation or request directly to canadian side

[2019-11-26 14:08] Hacksore commented on #5
@altagir How about this?
https://mybluelink.ca/login

[2019-11-26 15:52] altagir commented on #5
this one works perfectly :D

[2019-11-26 16:18] altagir commented on #5
this site works well. correct entry for credentials

I see a lot of references to hyundaiusa in code with paths for service. i am unsure api will match on both side.

[2019-11-26 19:17] Hacksore commented on #5
@altagir If you are able to fire a lock request off and sniff the web traffic in chrome devtools, I could analyze that and see where it’s going. If there would be an easy way to make this compatible I can surely give it a shot.

If you are sharing that request here make sure to redact anything personal like user specific info.

[2019-11-26 20:52] altagir commented on #5
I did that earlier and tried to get a login working
endpoints are very different, it seems also I don't need initial token ? as I don't see it in the stacktrace
I will package the list and send to your email

[2019-11-26 22:11] Hacksore commented on #4
@NeighborGeek I published version `0.0.5` so you can start the node server like `LOG_LEVEL='debug' node server.js` for more verbose output.

Could you please give that a try and report back?

[2019-11-26 22:32] NeighborGeek commented on #4
Done.  Having just started it now, I should be able to produce the error
late tonight or tomorrow morning.

Thanks!

On Tue, Nov 26, 2019 at 4:11 PM Sean Boult <notifications@github.com> wrote:

[2019-11-27 23:37] NeighborGeek commented on #4
Here's the log since I started this yesterday:

`/lock 192.168.1.8
[2019-11-26 16:30:09] [34mdebug[39m: Fetching CSRF Token ey...longstringhere...Bb-tk
[2019-11-26 16:30:10] [34mdebug[39m: Fetching JSON Auth Token, RESPONSE: {"E_IFRESULT":"Z:Success","E_IFFAILMSG":"","Token":{"access_token":"{7586...longstringhere...322b03532ae76b018a0c0e}","refresh_token":"w6q2...longstringhere...tC0vhw__","e

[2019-11-27 23:52] Hacksore commented on #4
I think this was my fault, will release 0.0.6 here shortly.

![image](https://user-images.githubusercontent.com/996134/69766661-94c7fb80-113e-11ea-9643-e617823e077f.png)

[2019-11-29 06:00] NeighborGeek commented on #4
Here's the log entry from today:
`/lock 192.168.1.22
[2019-11-28 22:05:03] [34mdebug[39m: [https://owners.hyundaiusa.com/bin/common/remoteAction] {"gen":2,"regId":"VIN","service":"remotelock"}
[2019-11-28 22:05:03] [34mdebug[39m: token time: 1574938079
[2019-11-28 22:05:03] [32minfo[39m: Token is about to expire, refreshing access token 60 seconds early
[2019-11-28 22:05:04] [34mdebug[39m:

[2019-11-30 14:45] Hacksore commented on #4
@NeighborGeek https://github.com/Hacksore/bluelinky/commit/7d7494527bafddb7994b9c4ddd91eaeea94594d1#diff-13b5b151431c7e7a17f273559ed212d5R98 That should fix it as I was not saving the token after a new one had been fetched.

[2019-12-02 12:39] NeighborGeek commented on #4
Looks like that did it.  Thanks!

[2019-12-02 13:13] #4 closed

[2019-12-07 02:10] aleGuardiola opened #6 "Just to let you know I am making a Google assistant skill to turn on my genesis"

[2019-12-07 05:06] aleGuardiola opened #7 "Support for gen 1 vehicles"
{ result:
   { errorSubCode: 'GEN',
     functionName: 'remoteDoorUnLock',
     errorSubMessage:
      'We encountered an error retrieving the vehicle details: nadid',
     errorMessage:
      'We encountered an error retrieving your vehicle information. Please try again later or contact the call center.',
     errorCode: 502 },
  status: 'E:Failure',
  errorMessage: 'Bad Gateway' }

I always get

[2019-12-07 05:50] Hacksore commented on #7
@aleGuardiola Can you provide more detail on how that error is coming back?

[2019-12-07 05:51] Hacksore commented on #6
Sounds good, if you need help you can email me.

[2019-12-07 05:51] #6 closed

[2019-12-07 05:53] aleGuardiola commented on #7
I did everything and then i tried to call unlock(), status() give me the same error as well. I did notice that for my car in the hyundai page it includes the vin in the form data and it put the gen as 1. My car is a 2015 genesis coupe, maybe it works different for that year.

[2019-12-07 05:56] Hacksore commented on #7
@aleGuardiola could you please provide an example of a request invoked by the web portal (strip/redact anything personal)? My guess is with gen 1 vehicles the request slightly differs in the data like you mentioned.

[2019-12-07 06:01] aleGuardiola commented on #7
Request is sent to: https://owners.hyundaiusa.com/bin/common/remoteAction

It includes cookies but i dont think that the api cares about that cuz I suppose the mobile app use the same api without sending the cookie

form data:
vin: {vin of the car}
username: {my email}
token: {the big token}
pin: [the pin]
url: https://owners.hyundaiusa.com/us/en/page/blue-link.html
gen: 1
regId: {this is a combin

[2019-12-07 06:03] aleGuardiola commented on #7
I am trying to figure out how they know what gen is the car, I modified your code for status() with gen one and I added the vin in the form data and I get this error:
{ E_IFRESULT: 'E:Failure',
  E_IFFAILMSG: 'Authorization Required',
  RESPONSE_STRING:
   { errorSubCode: 'IDM_401_4',
     functionName: 'remoteVehicleStatus',
     errorSubMessage: 'Feature disabled as it is not part of subscriptio

[2019-12-07 14:37] #7 closed

[2019-12-10 02:50] Hacksore opened #9 "Support for bluelink (autolink) straya"
@Technoash can you help an m9 out and find, someone, to help here?

https://www.myhyundai.com.au/

[2019-12-10 03:37] Technoash commented on #9
Yeah, how is bluelink different in Australia though?

[2019-12-10 03:43] Hacksore commented on #9
@Technoash The US vs Canada is vastly different so I am suspecting the same is true for Australia as well.

You can peak at this branch and get an idea of what I mean.
[support-canada-api](https://github.com/Hacksore/bluelinky/tree/support-canada-api)

[2019-12-10 15:34] altagir commented on #9
- open your site https://www.myhyundai.com.au/
- right click , inspect (on chrome)
- go to tab Network
- login / do a lock / unlock / start / refresh or any function needed
- look for a down arrow in inspector : export HAR
- edit the file, look for password, email and remove them from file.
- post it it here or send email to Sean

[2019-12-10 15:44] Hacksore commented on #9
@altagir i think the problem is Ashneil doesn’t have a Hyundai with bluelink 🙃. I was seeing if he could do some asking around and find someone who does have it.

[2019-12-10 22:14] Technoash commented on #9
I'll keep an eye out for someone with a a Hyundai and bluelink. Hyundai's
aren't that common here - at least not with people I know.

On Wed, 11 Dec. 2019, 2:44 am Sean Boult, <notifications@github.com> wrote:

[2019-12-11 22:32] altagir commented on #9
added a [post to Australian EV forum](https://forums.aeva.asn.au/viewtopic.php?f=63&t=6317)

[2019-12-20 15:25] Hacksore commented on #9
Based on the comments from the EV forum I think we can close this for now.

[2020-02-16 14:24] Hacksore commented on #5
All the current changes for this are being done in [support-canada-api](https://github.com/Hacksore/bluelinky/tree/support-canada-api) branch.

It's been a while since I worked on these changes and from what I remember they were working for @altagir.

[2020-02-16 20:49] altagir commented on #5
API is working well, there is just the start remote endpoint to finish
I sent pull request to add locate
another on its way for start remote and could be merged then to main

[2020-02-19 17:21] flamethrower225 opened #12 "start/stop command doesn’t work on US electric vehicles"
Using “ignitionstart” service command on an EV vehicle so far only confirm for 2019 Ioniq Electric Limited, gives the following error when run

 “ {"E_IFRESULT":"E:Failure","E_IFFAILMSG":"Bad Gateway","RESPONSE_STRING":{"errorSubCode":"GEN","systemName":"BLODS","errorSubMessage":"Feature Status is OFF","errorMessage":"We're sorry, your vehicle does not support this feature.","errorCode":502}}”

Ch

[2020-02-20 00:00] Hacksore commented on #12
@altagir wasn't this an issue on the CA version as well?

[2020-02-20 00:19] altagir commented on #12
@Hacksore I never tried that option, I didn't see it in the web API calls so didn't attempt it yet
will try both

[2020-02-20 00:21] altagir commented on #12
@flamethrower225  what is the unit of postRemoteFatcStart ? seconds ?

[2020-02-20 00:34] flamethrower225 commented on #12
@altagir I'm not a programmer but chrome inspect just said

service: postRemoteFatcStart

I don't have any other information other than assuming its the same unit as the normal "ignitionstart"

[2020-02-20 00:53] altagir commented on #12
@flamethrower225
could you tell me what is the parameter value for ignitionstart in your inspect? I don't have that in Canada
I read somewhere it stops after 15 mn or so. so we could figure out the unit.

[2020-02-20 01:51] flamethrower225 commented on #12
I don't get ignitionstart in chrome inspect, i get the other command. I believe my climate control turns off after 10 minutes though if that is what your asking at least when using the site or app. I don't know if you can tell the api you want longer than 10 minutes. In the shortcut made by someone, it has a value for time that you can change. It's in minutes and is set to 10 right now. I haven't

[2020-02-20 01:58] altagir commented on #12
will try this weekend if accepted by my canadian side. they have different API

[2020-02-22 14:13] Hacksore opened #13 "Support for bluelink in Europe"
This is something that @SondreNjaastad has been working on. As of now, he has figured out how how to request an access token and make requests.

[2020-02-22 14:29] Hacksore opened #14 "Implementation discussion - Design Pattern & Region Inconsistencies"
So currently we are implementing the library with a "constructor" pattern which allows us to create the class instance and use it.

We also are letting the developer implement the login method explicitly but really that's not something you should have to manage.

[code]

One solution I have to make this a bit more developer-friendly is to move to a factory pattern.
[code]

Now with that all being

[2020-02-22 14:42] Hacksore commented on #12
We are trying this out in [fix/start-stop-ev-usa](https://github.com/Hacksore/bluelinky/tree/fix/start-stop-ev-usa) but as of now, I don't think it's working.

[2020-02-23 02:53] altagir commented on #14
isn't the european vehicleIndentifier the same as vin ?
I don't see this as an issue
I believe the vin is not required also .
in a mobile app, I first download the list of vehicles known, they have the VIN listed there
then the user select a list of its available vehicule, pick up one, and you have your current selected VIN
so I see the VIN as just the currenly selected vehicle.

[2020-02-23 03:10] altagir commented on #14
rectification, after code reading
in my code,
- I login , get an accessToken
- get list of all vehicles (once, cache it, store it)
   this list has a vehicleId and VIN information for each car
- any API call needed later to access the car is vehicleID in headers, never VIN.
    the VIN is only used once to get the vehicleId associated with your VIN, but is it absolutely useless (but required for t

[2020-02-23 14:47] Hacksore commented on #14
So far this is the new implementation I have come up with. Not really thinking it's needed to have a factory pattern, we can still achieve a better flow by calling login internally and having a client-ready event.

[code]

[2020-02-23 21:46] altagir commented on #12
uhm thinking about that...
isn't the ignitionStart related to motor essence starting?
if i remember, hacksore you have an hybrid.
it would be normal then that this command be refused for EV vehicles
you should check it it start indeed your motor.
does it show somewhere in the features listed for your car in getVehicleInfo?

[2020-02-24 01:57] Hacksore commented on #12
@altagir It is actually working now after fixing a small issue. We have some hard-coded logic for what car ids are EV. I actually do not have a hybrid but I do agree we should be checking to make sure your vehicle has the features before executing a command.

https://github.com/Hacksore/bluelinky/blob/f8c00edb1dfa8808698d999ccff8e064732f162b/lib/vehicle.ts#L54

[2020-02-27 03:17] Hacksore commented on #14
`develop` now has a good base.

[2020-02-27 03:17] #14 closed

[2020-02-29 22:12] Hacksore commented on #12
So I will have to write the logic for this again, as the API has changed from the web to the mobile app endpoints.

I will need @flamethrower225 or @SiGmAX666 to give this a try when I can get the code refactored.

[2020-02-29 22:14] Hacksore commented on #5
@altagir New code is merged into master, try your best to incorporate all your previous changes in the new codebase.

Ping me on discord if you need any help along the way.

[2020-02-29 22:15] Hacksore commented on #13
Since master now has @SondreNjaastad code, we can close this as it was working AFAIK.

[2020-02-29 22:15] #13 closed

[2020-02-29 22:17] flamethrower225 commented on #12
Can give it a try whenever, just used it this morning and it worked. Does it no longer work?

[2020-02-29 22:19] Hacksore commented on #12
We did a big refactor on the code and i have doubts it will work on the new
implementation.

I can you give steps on discord and have you confirm if it did indeed break.

On Sat, Feb 29, 2020 at 4:17 PM flamethrower225 <notifications@github.com>
wrote:

--
*Sean "Hacksore" Boult*
mcskinsearch.com

Founder / Developer

hacksore@mcskinsearch.com

[2020-02-29 22:22] flamethrower225 commented on #12
Okay if you wanna write out the steps on discord, ill give it a try tonight

[2020-03-10 01:14] altagir commented on #5
merged into main branch

[2020-03-10 01:14] #5 closed

[2020-05-07 20:34] Hacksore commented on #12
I have no idea if this is still an issue but for now, let's close it until it pops up again.

[2020-05-07 20:34] #12 closed

[2020-05-14 15:20] justinoreilly opened #33 "HTTPError: Response code 401 (Authorization Required)"
Attempting to configure a flow to get status and receive "HTTPError: Response code 401 (Authorization Required)" as a debug output. This is the US region.

<img width="621" alt="Screen Shot 2020-05-14 at 11 18 29 AM" src="https://user-images.githubusercontent.com/7625409/81952607-ae69dc00-95d4-11ea-8775-c8d54aa2d934.png">
<img width="473" alt="Screen Shot 2020-05-14 at 11 19 06 AM" src="https://us

[2020-05-14 15:28] SondreNjaastad commented on #33
Please move this issue to the node red library itself
https://github.com/SondreNjaastad/node-red-contrib-bluelinky

[2020-05-14 15:28] #33 closed

[2020-05-14 15:30] justinoreilly commented on #33
Issue Moved: https://github.com/SondreNjaastad/node-red-contrib-bluelinky/issues/4

[2020-05-14 18:40] SondreNjaastad opened #34 "Add unit tests for client.getVehicle(VIN)"
Add unit tests for client.getVehicle(VIN) and tests for users that has multiple vehicles

[2020-05-16 16:01] #34 closed

[2020-05-18 21:03] plips-nl opened #41 "Enable Kia cars in Europe"
This wonderful project is aimed ad Hyundai cars. Effectively Hyundai and Kia use the same apps, websites, interfaces.

For Europe, replacing Hyundai to Kia in EU_BASE_URL constant (in lib/constants.ts)  would open up this project to Kia drivers too.

export const EU_BASE_URL = 'https://prd.eu-ccapi.kia.com:8080';

Might it be possible to somehow implement that? Choosing a brand in the parameters a

[2020-05-18 21:20] Hacksore commented on #41
@plips-nl Can you confirm that this works? In the USA we have only one car that works for UVO (2020 Telluride) AFAIK.

I'm not 100% confident we can just change the base URL it would just work but feel free to prove me wrong.

If we get some traction around UVO maybe we can look to start supporting it in the lib but as of now, we've only focused on Hyundai/Genesis.

[2020-05-18 21:24] SondreNjaastad commented on #41
@plips-nl, would you be interested to join out Discord Channel to discuss this further?

[2020-05-18 21:25] plips-nl commented on #41
Not 100% confident. I am not a programmer myself. I could try to fork the project myself, change base url and test it somehow.
I am more into python then typescript so will have to figure some things out.

Groet,
Peter Lips

[2020-05-18 21:26] plips-nl commented on #41
I would yes of course.

Groet,
Peter Lips

[2020-05-19 04:09] SondreNjaastad commented on #41
@plips-nl link is in the readme, Green chat icon 😊

[2020-05-19 11:06] Amxt opened #42 "Update Status for EU"
I noticed that for Canada and America the 'status' can be refreshed/updated but for Europe this only gets the last known status without updating it. Is there a reason for this? It would be really useful to be able to refresh the status for Europe too.

Calling ${EU_BASE_URL}/api/v2/spa/vehicles/${this.config.id}/status seems to do it.

[2020-05-19 12:52] SondreNjaastad commented on #42
The /status endpoints is always the latest status as far as i know? Have not experienced it being the same. US and EU APIs are very different

[2020-05-19 13:19] Amxt commented on #42
Right now to get the status only the /status/latest endpoint is being called (europianVehicle line 185). This seems to return stale data. From my limited testing, it looks like you have to call the /status endpoint first and then the /status/latest endpoint will return the updated status.

[2020-05-19 13:30] Hacksore commented on #42
So I think we have some inconsistencies as for the US we can pass a should update flag to `status()`.

https://github.com/Hacksore/bluelinky/blob/953235d76136dd7c333a0686dbec205041a6fbe5/lib/vehicles/americanVehicle.ts#L158

[2020-05-19 15:35] altagir commented on #42
I originally put the status(refresh) since in canada, we have 2 different endpoint

- status(false)will just poll the hyundai server (fast) and get their latest data, which is often wrong
- status(true) will ask data from the car (and update hyundai server info)

In most cases, I only want the fetched data from the car itself

[2020-05-19 15:36] Amxt commented on #42
Something similar could be done for the EU where if refresh = true is set then the /status endpoint is called, if it's set to false then /status/latest is called. The /status/latest endpoint returns the cached status.

[2020-05-19 15:44] Hacksore commented on #42
I agree @Amxt we do need to support this for consistency's sake.

Still not sure how @SondreNjaastad didn't notice this as he has a dashboard setup that has info about his vehicle.

[2020-05-19 21:30] SondreNjaastad commented on #42
The car is in use several times a day. Maybe it update on start/stop?

[2020-05-20 11:38] Amxt commented on #42
That may be the case, unfortunately I don't have a Hyundai car to test on. Some car API's do update status either periodically (e.g. Renault) or triggered by certain events taking place such as start/stop (e.g. BMW). The /status endpoint seems to force an immediate status update.

[2020-05-22 12:21] Amxt commented on #41
The KIA app seems to be identical to the Hyundai app for Europe (even at the code level). The difference is the base url which was already mentioned (https://prd.eu-ccapi.kia.com:8080) but also the client_id and the basic authentication token for the /token endpoint (These I've confirmed). The GCM Sender Id may also be different. If someone is able to get these then this API should in theory work

[2020-05-26 15:24] Hacksore commented on #9
So for what it's worth I think this is possible to support but would be based on demand.

https://apkpure.com/hyundai-auto-link-premium/com.hyundai.autolink.premium

[2020-06-01 09:56] lyledean1 opened #44 "Raw Payload"
For each endpoint, do you have an example of the raw payload (with sensitive information removed) ?

[2020-06-02 10:04] tiramiseb commented on #42
Hello,

I am in the process of buying a Hyundai Ioniq Electric. I live in France.

I have tested the car this weekend. I have stopped the car yesterday, plugged it into my OpenEVSE.

When testing Bluelinky this morning, I only got data from yesterday (car not fully charged, etc).

After driving the car back to the shop, I tried Bluelinky again (the car is still connected to my Bluelink account, be

[2020-06-02 15:54] Hacksore commented on #44
Since the project has grown we don't have this all organized that well. I can supply most of the stuff for the US but since I don't have access to other regions with real data I'd have to let the community help out here.

However, with that being said we are trying to streamline the developer integration process to make responses consistent across all regions.

So for example, if I wanted to grab

[2020-06-02 19:23] Hacksore commented on #42
@tiramiseb Welcome!
Glad to have more people actively using the lib. Seems we do need to ensure we are able to make soft (cached) and hard (query car) status requests based on the developer's needs.

Part of v5.0.0 is us trying to refactor a lot of the internals so this can be covered with that I'd imagine.

As pointed out by @Amxt we might have to make two requests to force the car to update.

[2020-06-02 19:26] SondreNjaastad commented on #42
I Will try to fix this tomorrow

[2020-06-02 19:31] SondreNjaastad commented on #42
Also, @tiramiseb, more EU cars are very welcome! 😊

[2020-06-03 06:13] tiramiseb commented on #42
This car will be very welcome in my family too :joy:

For the record, I first had a ZOE, I hacked their app's protocol only for fun, and disassembled one of the two car keys to directly wire the "open charging hatch" and the "enable AC" buttons to my home automation setup.
I then bought a Soul EV, but in Europe Kia does not provide any connectivity in Europe for this vehicle. That was no fun :smil

[2020-06-03 06:18] SondreNjaastad commented on #42
I own a 2020 Ioniq myself, rly  a shame that you can't open the charing hatch for the key or the app! I have made tested some more localy today, and as we thought, the status does update if we do a call to status instead of status/latest. I will make a PR for this into dev

[2020-06-19 01:16] stibbzy commented on #9
Hi Hacksore. I’ve just got my Australian Ioniq and would be very keen on some API interface to the Autolink module. Mine is the Premium module, which includes 4G SIM connectivity, if that makes a difference. I’m happy to help out any way I can, if you were keen to try.

[2020-06-19 17:22] Hacksore commented on #9
@stibbzy can you confirm what the latest version of the app is?

Also, are you able to login to this web portal?
https://www.myhyundai.com.au/

[2020-06-20 01:15] stibbzy commented on #9
Hi @Hacksore
According to the App Store, the current version of 'Hyundai Auto Link Premium' is 1.2.4. I can also confirm I can log into the portal using my account details. To be clear, I'm actually not getting the OBD module installed until Wednesday, so I may not be of much help until then!

[2020-06-22 16:29] cathiele commented on #42
i created a pull-request for this https://github.com/Hacksore/bluelinky/pull/46 maybe this helps with this issue

[2020-06-22 16:43] SondreNjaastad commented on #42
Sorry, i forgot there was an open issue for this. This was solved in PR #45

[2020-06-22 16:45] SondreNjaastad commented on #42
Solved in PR #45

[2020-06-22 16:45] #42 closed

[2020-06-22 16:46] SondreNjaastad commented on #42
This issue will appear in v5. Currently available as bluelinky@next

[2020-06-24 17:31] cathiele opened #47 "develop-branch: EU vehicle.location() timeout"
I updated to the bluelinky@next version and now i don't get the location of the car.

In the master-Branch the location is extracted from the status-request, in the develop-branch it is requested via the .../location-endpoint of the API.

The request to the location-endpoint ends with a timeout in my case. (car inside, no gps-available if this is important)

The status request with {refresh: true}

[2020-06-24 17:35] SondreNjaastad commented on #47
The latest endpoint gets the last known location. The new way requests the position from the car. We should handle the timeouts, but its rather a design choice. Should we return /latest if /location times out?

[2020-06-24 17:41] cathiele commented on #47
it would be nice to have access to all the data that is returned by the status/latest endpoint, and additionally the explicit /location-request. (something like the {refresh:true|false} for the status-request.

In my case the timeout is very long (maybe a minute?) , so i would for now in general prefer the /status/latest data.

what is the difference off the location data from the /status endpoint

[2020-06-27 15:03] raleeSheffield commented on #41
I'm definitely interested in applying it to Kia - wanting to get my OpenEvse charger working better with e-Niro.

If this is done can there be an option in the Node Red implementation to select Kia/Hyundai?

I'm a bit of a programmer, but not much(!), mainly I never can work out how all the different bits fit together, but I write code once I'm in a particular environment (not sure that makes sens

[2020-07-01 16:23] mazshar opened #48 "Support for UK Hyundai 2020 Cars"
Thank you for working on this brilliant wrapper library.

Any chance we can get something similar here in the UK?

The base url is 'http://prd.eu-ccapi.hyundai.com'. I have access to URI resources for each function which I can share but struggling with the authentication process.

[2020-07-01 16:28] SondreNjaastad commented on #48
Have you tried the EU config? Looks like the same URL. Working on my Norwegian 2020 Ioniq Electric

[2020-07-01 16:36] mazshar commented on #48
Yes you're right! That's fantastic. I've been waiting for this since I got the car in December

[2020-07-01 16:43] SondreNjaastad commented on #48
Closing this then 😊

[2020-07-01 16:43] #48 closed

[2020-07-03 13:59] plips-nl commented on #41
well, I forked the master branch, changed all constants of hyundai to the kia equivalent and am happy to test and experiment, but as a total newbie on ts programming and coding, how do i get from a set up ts files (locally cloned) to a set of js files running in nodejs ? (nodejs is running, node-red on port 1880 is responding, npm is installed, tsc is installed)...

[2020-07-07 16:43] Pyromancer579 commented on #41
I too would like to be able to read my Kia E-Niro batterys state of charge, like raleeSheffield, to make my Zappi smart EV charger even more 'intelligent'.

I have only just started coding, having not done it in anger for more than 30 years (it was called programming back then), I'm learning Python, but early days yet (literally just a few days), so I'm not in a position to develop the base module

[2020-07-07 16:59] Hacksore commented on #41
I'm thinking about making Kia support out of scope for the project as it's adding more complexity. If we want to, in the end, create a super lib that can wrap all of them together we can do that (think [smartcar ](https://smartcar.com/) but free and opensource).

So, in theory, you'd have bluelinky that can encapsulate Hyundai to the best ability. Then you'd have "kialink" to better isolate change

[2020-07-07 22:18] SondreNjaastad commented on #41
I agree with @Hacksore. at the moment the APIs are much the same, but there is no guarantee for the future, and grouping it based on services would make a lot of sense. Building such a big service will require a lot of dedicated people for each platform, so the best initiate someone could do to get started would be to start connecting and speaking to anyone interested.

[2020-07-08 05:44] MaxvandeLaar commented on #41
@SondreNjaastad I am definitely interested in something like that. My Kia E-Niro will arrive late October so at that point I want to create an Homey app (JS). So if the Kia alternative npm lib does not yet exist I will most likely create it.

If more people are interested in creating a open source free smartcar wrapper, count me in 😉

[2020-07-13 02:38] Hacksore commented on #41
Closing the issue as I believe the best option is to make a stand-alone project.

[2020-07-13 02:38] #41 closed

[2020-07-14 10:13] mazshar commented on #48
@SondreNjaastad I'm currently getting errors when trying to log in using the EU config. I get an unhandled promise rejection error. Has something changed with the log in process or am I doing something incorrect? I've built the project using node run-script build and I've created an index.js with the example code using my details. When I run 'node index.js' I get the above error.

[2020-07-14 10:19] SondreNjaastad commented on #48
Hi! Hyundai have introduced som breaking changes, we are not sure what and how to fix it yet

[2020-07-14 10:19] SondreNjaastad commented on #48
Hi! Hyundai have introduced som breaking changes, we are not sure what and how to fix it yet

[2020-07-14 10:20] mazshar commented on #48
Okay, previously I’ve been able to decompile the android app, if that helps
at all?

On Tue, 14 Jul 2020 at 11:19, Sondre Njåstad <notifications@github.com>
wrote:

[2020-07-14 10:21] SondreNjaastad commented on #48
We have tried to do that again, but we have not found any changes. So i believe its serverside

[2020-07-14 10:23] mazshar commented on #48
Thanks for the update. I’m curious, I noticed there were additional
endpoints in the decompiled code e.g. heating seats remotely. Wondering
whether you tried them? I’m guessing they’re blocked serverside

On Tue, 14 Jul 2020 at 11:22, Sondre Njåstad <notifications@github.com>
wrote:

[2020-07-14 10:36] plips-nl commented on #48
FWIW in Netherlands (also Europe :) ) play and appstore:
iPhone apps for Hyundai Bluelink and Kia UVO were not updated recently (3 mnts aho, current ver = 1.4.117 for both)
Android apk versions also nog chnges, both ver 1.4.118 for 3 months.

groet,

Peter

[2020-07-14 13:28] Hacksore opened #49 "Add missing request for EU"
EU added a new requirement for the language endpoint in order to log in so we need to add this to the controller.

[2020-07-14 14:26] Hacksore commented on #49
Fixed in 3ca078d3251b82c9caf5e741465a4d17a5e2d8d7

[2020-07-14 14:26] #49 closed

[2020-07-16 10:43] plips-nl opened #51 "all branched: reverse function in util.ts and prettier temperature in output european.vehicle.ts"
If setting temperature in config is done in degrees, and then converted to hex before sending it to the car, wouldn't it be prettier to get temperature from the car in hex and then display it in degrees? Therefore we need a change in european.vehicle.ts and a reverse temp/hex conversionfunction in util.ts:

european.vehicle.ts
from:
[code]

from: `temperatureSetpoint: vehicleStatus.airTemp.value,`

[2020-07-16 15:20] gruijter opened #52 "Not working for EU Kia e-niro 2020 (UVO app)"
Thx for revere engineering the API! I assume that the Hyundai bluelinky API is the same as what Kia UVO connect is using. But I'm not sure :)

When I try below code, the 'ready' event is never triggered. I only get this log `[2020-07-16 17:20:17] info: { "test": 1}`

[code]

[2020-07-16 15:26] Hacksore commented on #52
So basically it is "similar" but is out of the scope of this project. However, there is discussions on the discord about getting it working.

A technical explanation is that there is a different base URL and client ids for it to communicate with the Kia services.

Please look at contributing to either https://github.com/wcomartin/kiauvo or starting a new project entirely for explicit Kia support.

[2020-07-16 15:26] #52 closed

[2020-07-16 15:27] Hacksore commented on #47
ping @SondreNjaastad

Didn't you have a fix in the works for this?

[2020-07-16 15:33] gruijter commented on #52
I found the repository for @wcomartin, but first of all I dont know python, and secondly there is an issue there with EU region and william directs to bluelinky :).

https://github.com/wcomartin/kiauvo/issues/1

I am willing to give it a shot in nodejs, but where can I find a description of the API and the authentication process? I tried logging the UVO app communication with man-in-the middle, bu

[2020-07-16 15:39] Hacksore commented on #52
Yeah, I really want someone to just copy bluelinky into something new and update to be ready for Kia.

If we can't get anyone from the community to do this I might do it 😀.

For the RE side of things, I have a document on what I do to get info from apps. Likely what is blocking you right now is SSL pinning which will not let traffic flow through your MITM proxy.

https://docs.google.com/document/d

[2020-07-16 15:46] gruijter commented on #52
Thx for the document. I'm affraid that is beyond my skills at the moment :(. I hope someone else has the skills, time and endurance to create an API wrapper for Kia UVO (like you! 👍 )

[2020-07-16 15:47] #51 closed

[2020-07-16 15:56] plips-nl commented on #52
I have both Js and python code for Kia UVO in Europe. All up and running since yesterday. Look at my fork of the development branch.

Groet,
Peter Lips

[2020-07-16 16:41] gruijter commented on #52
Awesome Peter! Will try tonight. (Need to figure out how to build from your fork though)

[2020-07-16 18:52] gruijter commented on #52
@plips-nl I need your help in how to use your fork (I'm a noob only able to install with npm). How can I reach you directly?

[2020-07-17 11:36] plips-nl opened #54 "Prepare for simpeler maintenance of Kia UVO EU Fork"
If you would change the following lines in european.controller.ts and in constants/europe.ts the Kia-port would work by only changing the constants/europe.ts.
That way you don't have to maintain the Kia part, but for maintenance of the fork it is easy, since only europe.ts has to be updated.

The changes I propose underneath have been tested on KiaUVO. Works flawlessly.

**In european.controller.t

[2020-07-18 09:19] cathiele opened #55 "Error: temperature out of bounds! min: 15.0* max: 30*, max step: 0.5"
With Version 5.1.0 i get the error:

`Error: temperature out of bounds! min: 15.0* max: 30*, max step: 0.5`

the value passed to the function is "00H"

Car: EU Kona 64kwh MY2020

[2020-07-18 09:20] SondreNjaastad commented on #55
Try passing the number 15.0

[2020-07-18 10:11] cathiele commented on #55
How?

I Just call vehicle.status({refresh: false});

[2020-07-18 10:14] SondreNjaastad commented on #55
Oh, sorry. I thought you where starting the AC. I think there has been a modification i have missed. Then this is a bug

[2020-07-18 11:07] Hacksore commented on #55
I think I introduced this with the change to how we return the temp based on #51. I think I was a bit YOLO and didn't get to test the change fully as it was EU based.

@SondreNjaastad Could you post a raw status call here? Then I can write a unit test for status calls so we don't run into issues like this in the future :).

[2020-07-18 12:46] plips-nl commented on #55
My bad i think. I send the feature request and wrote that part in Util.TS, as a reverse function of the original version. 00H and 01H must be added to util.ts i suppose.

[2020-07-18 13:00] plips-nl opened #56 "feature request: add EVBatteryCharge to output"
pls add as line 216 in european.vehicle.ts

 EVBatteryCharge: vehicleStatus?.evStatus?.batteryStatus,

[2020-07-18 18:19] Hacksore commented on #55
@plips-nl I think respectively we can agree on the following then?
`00H` => `14.0`
`01H` => `14.5`

[2020-07-18 18:23] #55 closed

[2020-07-18 18:25] Hacksore commented on #54
This is helpful for others looking into the Kia side. For now, we can keep the code focused on https://github.com/plips-nl/Kuvork.

[2020-07-18 18:26] Hacksore commented on #9
@stibbzy let us know if we want to revisit this in the future. Going to close it out for now.

[2020-07-18 18:26] #9 closed

[2020-07-18 18:28] Hacksore commented on #56
What is the difference between `battery.batSoc` and `evStatus.batteryStatus`?

[2020-07-18 19:16] cathiele commented on #55
Thank you for the fast fix!

[2020-07-18 21:21] stibbzy commented on #9
@Hacksore Sorry mate, I should have let you know that I now have the Autolonk module installed and operational!

Happy to open the issue and assist in any way I can. Cheers.

[2020-07-18 21:27] plips-nl commented on #56
batsoc = state of charge of 12V battery, exists in EV’s and in ICE
evStatus.batteryStatus = state of charge of High Voltage EV battery (like the petrol tank in an ICE)

groet,

Peter

[2020-07-18 22:31] Hacksore commented on #9
@stibbzy If you wanna share the APK as the latest is not on APKPure and it's not available in my country.

https://apkpure.com/hyundai-auto-link/com.hyundai.autolink

[2020-07-19 15:34] Kreuger commented on #52
@gruijter You can download the file as a zip or use git to copy it to a folder on your computer.

[2020-07-19 15:37] gruijter commented on #52
Hi @Kreuger Thx, but in the mean time @plips-nl published it already on npm

https://www.npmjs.com/package/kuvork

[2020-07-20 20:48] stibbzy commented on #9
Hi @Hacksore
I use iOS, so I’m not familiar with APKs. I’ll have a look around and see what I can find.

[2020-07-25 19:44] joepv opened #58 "No vehicles detected with Hyundai Kona 2020"
The brand new 2020 Hyundai Kona with BlueLink app is not working with bluelinky. The official app works perfectly. Can someone help me?

When I try to get the vehicle information with below code I only got:

[code]

[code]

[2020-07-25 22:31] antonyoneill commented on #58
My guess is that you have an authentication issue rather than a vehicle listing issue..

I literally just now integrated this into a mqtt system and had no problems. See https://github.com/antonyoneill/bluelinky-mqtt-ha

My advice is to set `autoLogin` to false in the constructor parameters, then check the return of `client.login()`.

[2020-07-26 07:51] joepv commented on #58
Thank you for your help, I set `autoLogin` to `false` and got:

[code]

with code:
[code]

(note, I'm a nodejs newbie, I want to implement this in Node-RED, it didn't work, so I try to figure it out at the source 😊)

[2020-07-26 09:17] antonyoneill commented on #58
No problem, looks like we're one step closer to understanding why you can't authenticate.

The return value of `client.login()` is a `Promise<string>` which is an asynchronous construct - the output above says that it is pending, so essentially the output happens before the login function has finished the logic.

There are two ways to wait for the result, one using the `await` keyword within an `a

[2020-07-26 19:46] joepv commented on #58
Thank you very much for your help! I really appreciate it.

I changed the password and still got a response code `400`. After 15 minutes I tried again and got:

[code]

Very nice!

Now I try to get the car status:

[code]

and I got:

[code]

[2020-07-26 20:04] joepv commented on #58
I got data with this code, but I don't get the status.

[code]

So the issue is solved. I appreciate if you help me with the code to get the status (battery) for the car.
If you don't have time you can close this issue, because it is solved for me.

[2020-07-26 20:32] antonyoneill commented on #58
Great! Glad you got the authentication working.

As for the status, it's a little tricky as the documentation for the project isn't quite up to date. You need to pass in an object and specify whether you want it parsed, or not. I opt for not parsed - see below for an example. My car is an EV so I get the status of the EV battery and 12v battery.

https://github.com/antonyoneill/bluelinky-mqtt-ha/b

[2020-07-27 07:54] joepv commented on #58
Thank you @antonyoneill, you are my hero 🦸‍♂️
It is working now.
If you have sample pieces of code I will document it for your project. No problem. Then I contact you personally on the e-mail provided on GitHub.

[2020-07-27 14:08] Hacksore commented on #58
@antonyoneill I really appreciate you helping out with the troubleshooting here.

[2020-07-27 14:08] #58 closed

[2020-07-28 16:27] #54 closed

[2020-07-29 00:17] Hacksore commented on #56
So I've been looking at this and we need to come up with a good naming to discern the two.

@plips-nl @SondreNjaastad Do you have any suggestions, feel free to make drop something on the sheet we have started below.

https://docs.google.com/spreadsheets/d/1MWLO5rsJROlbWLl0YiQraUsOgIq5ciEhlZ3k4H_RO8M/edit?usp=sharing

[2020-07-29 15:03] mazshar commented on #48
@SondreNjaastad if there are no changes on the app side then how does it still communicate with the server?

[2020-07-29 20:28] SondreNjaastad commented on #48
Hi! This should not be an issue any more, the change was that setting the language was made an requirement, that change has been implemented in the last version

[2020-07-29 20:34] mazshar commented on #48
@SondreNjaastad amazing news! Any ideas if we can expand the endpoints to include things like remote heated seats?

[2020-07-29 20:39] SondreNjaastad commented on #48
If its included in the app, we probably can. You could make a separate feature request, so if it is not possisble, at least we have a issue showing that 😊

[2020-07-29 20:49] mazshar commented on #48
@SondreNjaastad great! Any chance you could provide some additional instructions for node newbies like myself? These are the steps I took so far.

1. Create a directory for project e.g. 'car'
2. In the new directory, run `npm install bluelinky`
3. Create an index.js with the example code including my credentials and car details.
4. Run `node index.js`

I'm well versed in RESTful APIs and Python th

[2020-08-01 22:13] deepcoder opened #61 "Error in return from .status() function : UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'value' of undefined at e.<anonymous> (/home/user/bluelinky/node_modules/bluelinky/dist/index.js:1:9467)"
Error in return from .status() function : UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'value' of undefined at e.<anonymous> (/home/user/bluelinky/node_modules/bluelinky/dist/index.js:1:9467)

I am trying the code shown below. All functions except .status() seem to be working. The .status() seems to return correct response from Bluelink, but something seems to be crashing in p

[2020-08-03 04:47] gruijter opened #62 "Deprecated packages are used."
[code]

For request you could e.g. move to Axios: https://www.npmjs.com/package/axios

Or other alternatives here: https://github.com/request/request/issues/3143

[2020-08-04 08:04] gruijter opened #63 "Cannot read property 'drvDistance' of undefined for non-EV vehicles."
When requesting the vehicle.status({parsed: false}) for a non-EV vehicle, an error is thrown `Cannot read property 'drvDistance' of undefined`

Can you please make it that 'missing' parameters, like `evStatus`, do not cause a crash when requesting the non-parsed status?

Thx!

[2020-08-04 09:43] plips-nl commented on #63
Is the Issue in line 213 of european vehicle:
        range: vehicleStatus.evStatus.drvDistance[0].rangeByFuel.totalAvailableRange.value, whereas line 212, containing an evstatus too has evStatus? . Is that ? for an optional variable?

[2020-08-04 13:34] gruijter commented on #63
Another issue is in line 258 of european vehicle.ts. If you change

`const data = response.body.resMsg.gpsDetail`
to
`const data = response.body.resMsg.gpsDetail` || response.body.resMsg`

it will also work for non-EV vehicles.

[2020-08-14 10:26] plips-nl commented on #47
Not an answer to the location and timeout question, but I agree with @cathiele .. An API call that returns ALL (raw) data from the /status/latest endpoint would come in handy, as an addition to the formatted subset with the same data as /status returns.

The Kia/Hyundai servers treat location, odometer and vehicle status in different ways. That makes it really hard to understand when which data is

[2020-08-19 11:55] takenalias commented on #9
Hey guys. I am an Android user, I have a 2019 i30 nline with Auto link premium. Let me know how I can help.  I'll try get the APK tomorrow.

[2020-08-20 07:51] takenalias commented on #9
@Hacksore here is the latest apk. https://drive.google.com/file/d/1XamXTWmOruspU5PdmH5MzTFhq7uJEwBk/view?usp=sharing

There is 2fa on the app. I feel like this will be the biggest hurdle. I'd be super keen to get something working though.

[2020-08-27 06:49] rhuss commented on #56
I would use `chargeLevel` for the high voltage battery and maybe `boardBatteryChargeLevel` for the 12V board battery (as this information is of much less interest as the charging state of the main battery). If backwards compapility is required you can still keep `batteryCharge` for the 12V battery (but I like to add that `Level` as this points to the unit of this metrics)

[2020-09-07 15:57] Hacksore commented on #44
You can find at least some data from the raw status output for both the US and EU regions.

https://github.com/Hacksore/bluelinky/tree/master/__tests__/mock

[2020-09-07 15:57] #44 closed

[2020-09-07 16:01] Hacksore commented on #61
I imagine this is caused by the same issue with parsed status in #63 as it tries to create the parsed structure and fails.

I did just commit 556dc273f88bf21a031e176fa6b16cf167ead8e6 to develop which might mitigate this.

[2020-09-07 16:02] Hacksore commented on #63
Someone should give 556dc273f88bf21a031e176fa6b16cf167ead8e6 a test and see if it resolves this issue.

[2020-09-10 07:08] plips-nl commented on #56
I see you implemented it in development branch. Tested on european vehicle and works fine.

[2020-09-11 22:15] Hacksore commented on #62
Fixed with #6

[2020-09-11 22:15] #62 closed

[2020-09-11 22:16] Hacksore commented on #61
Should be fixed with #67

[2020-09-11 22:18] Hacksore commented on #56
Fixed with #67

[2020-09-11 22:18] #56 closed

[2020-09-11 22:19] Hacksore commented on #63
Shoudl be fixed with #67

[2020-09-11 22:19] #63 closed

[2020-09-11 22:19] #61 closed

[2020-09-14 00:59] doguitar opened #69 "Add "Start/Stop Charge" for US electric vehicles"

[2020-09-14 04:58] plips-nl commented on #69
For what region do you ask it? For Europe it exists since a few days?

[2020-09-14 05:15] doguitar commented on #69
US. I wasn't aware it was implemented at all.

[2020-09-14 16:03] Hacksore commented on #69
@doguitar I'd be happy to try and implement this for the US but I don't have an EV. So with that, I'd need to know what the request looks like.

Do you know how to reverse engineer the network requests?

[2020-09-14 16:06] doguitar commented on #69
No I don't. I'd be happy to help if you want to show me how.

[2020-09-14 16:08] Hacksore commented on #69
So I wrote this as my way of doing it but there are surely other ways.

https://docs.google.com/document/d/1q0Pz2t5Gmt-vv8z-2Yswhvg2x9B2f3d1vjpkIjt9EfQ/edit?usp=sharing

[2020-09-14 16:13] doguitar commented on #69
Thanks! I'll run through this later today. I'll let you know if I have an issues.

[2020-09-14 18:31] Sauwald opened #70 "@EuropeControllerLogin: AuthCode was not found'"
root@aec0b057cea3:/usr/local/lib/node_modules/bluelinky# node debug.js
? What Region are you in? EU
{ region: 'EU' }
Logging in...
(node:6104) UnhandledPromiseRejectionWarning: Error [ERR_UNHANDLED_ERROR]: Unhandled error. ('@EuropeControllerLogin: AuthCode was not found')
    at t.emit (events.js:187:17)
    at t.<anonymous> (/usr/local/lib/node_modules/bluelinky/dist/index.js:2:40208)
    at /us

[2020-09-14 19:45] Hacksore commented on #70
@Sauwald I was seeing this too with my test account but I don't have a car in EU to test it fully. Can you set `LOG_LEVEL=debug` and see if the verbose output helps us troubleshoot further?

[2020-09-15 05:04] Sauwald commented on #70
root@aec0b057cea3:/usr/local/lib/node_modules/bluelinky# LOG_LEVEL=debug node debug.js
? What Region are you in? EU
{ region: 'EU' }
Logging in...
[2020-09-15 05:00:56] debug: EU Controller created
[2020-09-15 05:00:56] debug: Bluelinky is logging in automatically, to disable use autoLogin: false
[2020-09-15 05:00:56] debug: loggin into to API
(node:6125) UnhandledPromiseRejectionWarning: Error [E

[2020-09-15 07:24] plips-nl commented on #70
I retested my Kia-fork today, no errors. I then compared my code with the bluelinky master.  Only difference is the europe/contants.ts file.

[2020-09-15 09:23:07] debug: EU Controller created
[2020-09-15 09:23:07] debug: Bluelinky is logging in automatically, to disable use autoLogin: false
[2020-09-15 09:23:07] debug: loggin into to API
[2020-09-15 09:23:09] debug: EU Vehicle 1fa2<snip>b created

[2020-09-15 13:03] myhdh10 opened #71 "Support the Korea Bluelink"
Hello there.
I wanna use yours 👍 How can I help you the making of the Korea Bluelink?

[2020-09-15 14:34] Hacksore commented on #71
@myhdh10 we'd need you or someone in Korea to inspect the network requests and share the results with sensitive information removed. If that person could implement the code as we would be helpful.

A good start for supporting this region would be to have the following commands possible.

- Lock/Unlock
- Start/Stop

If you are not familiar with getting the network requests reversed we might need to

[2020-09-15 14:37] myhdh10 commented on #71
@Hacksore thx to reply. Korea Bluelink is controled only by the android app. I can handle a packet using wireshark app. is this right to method?

[2020-09-15 14:40] Hacksore commented on #71
Wireshark might work but this is what I do.

https://docs.google.com/document/d/1q0Pz2t5Gmt-vv8z-2Yswhvg2x9B2f3d1vjpkIjt9EfQ/edit?usp=sharing

[2020-09-15 15:07] myhdh10 commented on #71
Okay, I try do this. I have things to your docs needs. and a little Java knowledge.

[2020-09-16 08:14] Sauwald commented on #70
Can I support in any other way to find the bug?

[2020-09-16 12:11] Hacksore commented on #70
@Sauwald can you check out the code from the `develop` branch and try again. I added a debug log that might help us understand better.

[2020-09-16 12:31] Sauwald commented on #70
root@aec0b057cea3:/home/node_modules/bluelinky# LOG_LEVEL=debug node debug.js
? What Region are you in? EU
{ region: 'EU' }
Logging in...
[2020-09-16 12:30:15] debug: EU Controller created
[2020-09-16 12:30:15] debug: Bluelinky is logging in automatically, to disable use autoLogin: false
[2020-09-16 12:30:15] debug: loggin into to API
[2020-09-16 12:30:17] debug: {
  "step": 5
}
(node:8165) Unhand

[2020-09-16 12:35] Hacksore commented on #70
Yeah, that's exactly what I got with my test account 🤔. Not really sure what the response from the login means in this case.

[code]

[2020-09-16 12:41] Hacksore commented on #70
@Sauwald Actually I think I figured it out, it's forcing a password change. Go to this link and see if you get asked to change your password.

https://prd.eu-ccapi.hyundai.com:8080/api/v1/user/oauth2/authorize?response_type=code&state=test&client_id=6d477c38-3ca4-4cf3-9557-2a1929a94654&redirect_uri=https://prd.eu-ccapi.hyundai.com:8080/api/v1/user/oauth2/redirect

[2020-09-16 12:44] Sauwald commented on #70
Yes, that is exactly what I just found out and wanted to write.
Now after changing the password via the app it works again.
Thanks.

[2020-09-16 12:47] Hacksore commented on #70
I'd imagine now that we know what `step: 5` is we could add a better message in the error. I'm going to close this as there is nothing we can do to prevent it.

[2020-09-16 12:47] #70 closed

[2020-09-26 10:23] prodigy7 commented on #52
Hm, looking for code access my Kia e-niro 2020 i found this project and this thread. Now, if all is equal and only the servers and client credentials are different, so why don't implement a simple switch? Or i do understand something wrong? It mades sense, if one project are maintained by different developers and code is up to date.

[2020-09-26 12:10] plips-nl commented on #52
Maybe eventually this will be the case. But the way it is now, a simple switch won't do. For now, if you are in Europe. you can use the “Kuvork" lib I created. Or create your own. All you have to do is change the lib/constants/europe.ts file.

[2020-09-30 04:04] doguitar commented on #69
I haven't forgotten about this, just haven't had enough time to get everything rolling. I'm almost there but ran into trouble loading the US app into bytecode viewer (it appears to be working but never finishes loading) and haven't had time to get back to it.

[2020-09-30 14:51] Hacksore commented on #69
This is something I’ve seen with bytecode viewer where it can hang for a
long time.

I’d just try again and see if it works after a considerable amount of time.

On Tue, Sep 29, 2020 at 11:04 PM Sean Seymour <notifications@github.com>
wrote:

[2020-10-14 20:18] earlwilson opened #74 "Failed requests for American car"
It appears that some of the methods for the AmericanVehicle class do not work properly. Upon castling start, lock and a few other methods the call results in either a 400 or 503 Bad Gateway error.
However, the odometer call works successfully for me.

I took a look at the class and it looks like the request urls are being built in different ways, also outputting the Error object shows that the url

[2020-10-15 01:24] Hacksore commented on #74
@earlwilson I've just published `v5.2.1` see if that still has any issues.

[2020-10-19 06:04] MarkusKress opened #76 "Got always 'Response code 400 (Bad Request)'"
Hello,
I tried to connect to the hyundai server, but got constanly an error. I'm not a good programmer. I put the code below in a bl.js file and run it with `node bl.js`
[code]
This is the output:
[code]
What I'm doing wrong (I've tested also 'autoLogin' and 'deviceUuid' instead of autologin'/deviceuuid') ? What is the deviceuuid/deviceUuid for?

[2020-10-19 08:25] plips-nl commented on #76
What if you retry with
autoLogin
deviceUuid
(capitals)

[2020-10-19 08:37] MarkusKress commented on #76
I tried also lowercase for autoLogin/deviceUuid before (but forget to change it back in my posting), but I got exacly the same message. I found a mistake in the documentation (api-reference), where Bluelinky() is also lowercase instead of BlueLinky(), so I tried to change lower and uppercase also for autoLogin/deviceUuid.

[2020-10-19 09:43] plips-nl commented on #76
Look in the Bluelinky app if you dont have to change your password or pin.

[2020-10-19 10:59] MarkusKress commented on #76
PIN and Password are correct (I have a dot '.' in the password). I've checked this twice with logoff/login in bluelink android app. I'm sure, that user/password/pin are correct. But I'm not sure, if I have to set deviceUuid and which value I have to use for this. I've tried to add vin and vehicleId. 'vin' is clear, for vehicleId I'm using 'OS EV CZECH 20' which is used in the bluelink app.

'''
co

[2020-10-19 12:31] MarkusKress commented on #76
I've tried also this one with the same error:
[code]

[2020-10-19 12:57] Hacksore commented on #76
@MarkusKress The documentation is quite outdated and some properties are not needed but here are my suggestions.

Try running with the `LOG_LEVEL=debug` so that we can see all the debug logs (might need to mask sensitive data).
[code]

Another option is to double-check that you can log in via the link and you are not getting forced to take some action like changing the password.
https://prd.eu-cca

[2020-10-19 13:42] MarkusKress commented on #76
I've already tried LOG_LEVEL=debug, but did not get more information. Here the output:
[code]
I tried the given URL and saw the Login Screen. I tried to login with my credentials, but then I was redirected to complete empty page. The URL was:
https://prd.eu-ccapi.hyundai.com:8080/api/v1/user/oauth2/redirect?code=9XLAMNRPMSQXIBRL9AUQJA&state=test
I tried your URL on Deskop and Mobile. Both the same

[2020-10-19 14:22] Hacksore commented on #76
So I added some debug statements and I am seeing the error too. Seems related to fetching the cookies at the initial request so something on the API side could have changed.

![image](https://user-images.githubusercontent.com/996134/96463577-794d5f80-11ec-11eb-9733-c403e604226a.png)

[2020-10-20 06:37] MarkusKress commented on #76
Thank you. But how can I test this. Will be a new version (>5.2.1) availibe?

[2020-10-20 07:34] faheem3 commented on #76
hey guys, if i rent a hyundai to test this out, is it possible?

[2020-10-20 07:45] MarkusKress commented on #76
You have to connect the car (using VIN) with your hyundai account for testing.

[2020-10-20 07:47] faheem3 commented on #76
im guessing the hyundai account w/ that vin will already be made. if not then should be ok....i want to try out this api and need a hyundai. any suggestions?

[2020-10-20 09:31] MarkusKress commented on #76
I would test it, I have a Hyundai EV car for Region EU. But I have no experience about npm packages, only a little bit js programming. So I'm more a less only a user.

[2020-10-20 10:13] PierreLevres commented on #76
Markus, first you'd have to install npm and node.js on your machine, lots of how-to's to find around.
Then install bluelinky (npm install bluelinky)
Then create a config file (config.json) with your client definition
Then run the debug program (node debug.js)

[2020-10-20 11:36] MarkusKress commented on #76
I have npm and node.js already installed. I did also an 'npm install bluelinky'.
But I did not understand about config.json. What must be inside the file and where must be located?
I found the installed bluelinky and debug.js in /root/node_modules/bluelinky

[2020-10-20 12:36] Hacksore commented on #76
@MarkusKress I will publish the latest fix and it should resolve this issue.

[2020-10-20 12:38] Hacksore commented on #74
@earlwilson let me know if this didn't fix the issue and we can continue debugging.

[2020-10-20 12:38] #74 closed

[2020-10-20 12:39] Hacksore commented on #69
@doguitar Did you make any progress on this effort?

[2020-10-20 12:40] Hacksore commented on #71
@myhdh10 Any progress on this effort?

[2020-10-20 12:42] MarkusKress commented on #76
Thanks. I've updated to 5.2.2 and it works.

[2020-10-20 12:56] Hacksore commented on #76
@MarkusKress since this fixed the issue I'll close this.

As for the status you need to pass in an object now to status, like `.status({ parsed: false })` however it should not be erroring. I'll take a look and see if this is a bug.

[2020-10-20 12:56] #76 closed

[2020-10-20 13:18] MarkusKress commented on #76
start() and update() also does not work.

[2020-10-20 14:53] Hacksore commented on #76
@MarkusKress update is not a thing anymore. As for the start command please open a new issue if you found a bug.

[2020-10-20 15:47] MarkusKress commented on #76
Did you plan to solve also update(), start() ...?

[2020-10-20 15:54] MarkusKress opened #78 "update() will give a error: 'TypeError: vehicle.update is not a function'"
bluelink.js:
[code]
fails with
[code]

[2020-10-20 15:58] MarkusKress opened #79 "EU vehicle should have a default start config"
[code]

[code]

[2020-10-20 16:42] Hacksore commented on #78
You don't call `update` anymore as it's not a method that exists. Refreshing data from the vehicle is done at the method level.

ie. When you want the latest status it's `vehicle.status({ parsed: false, refresh: true })`

[2020-10-20 16:42] #78 closed

[2020-10-20 16:44] Hacksore commented on #79
You need to pass in a valid start config. Seems like this could be a bug for EU though as the default options are not good enough.

[2020-10-20 19:18] doguitar commented on #69
I let bytecode viewer try to open the apk for an extended period but was never able to get it open. I tried hiding root from the app by various methods but wasn't able to get that working either. Actually, now that I'm typing this, if I remove root after the certificate for the MITM is installed, will it still work?

[2020-10-20 23:32] Hacksore commented on #69
@doguitar Well, you don't have to have a rooted phone. As long as you can disable SSL pinning you are able to MITM traffic.

[2020-10-21 05:14] MarkusKress commented on #79
Might be this is only for EV (eletric) cars nessesary.

[2020-10-21 05:34] MarkusKress commented on #76
Sorry, didn't catch about update.

[2020-10-21 08:26] PierreLevres commented on #79
Should the program do better error handling (in general)? Clearly a faulty parameter is given to the procedure ({parsed: false} instead of VehicleClimateOptions of VehicleStartOptions, and it is therefore rejected.

[2020-10-21 12:37] MarkusKress commented on #79
For me it's not nessesary, because I can't fix this.

[2020-10-21 15:39] PierreLevres commented on #79
I don't understand what you mean Markus. You opened issue #79 because of an error you got by issuing "await vehicle.start({ parsed: false });". Where is / who created that statement? Where is it in the bluelinky code?

You got the error because an invalid parameter was to the procedure in BlueLinky. What do you expect from the developers? Better error handling? Better documentation?

[2020-10-21 16:02] MarkusKress commented on #79
I thought 'parsed: false' helps also like in status(), because start() did not work for my EV Car in Region EU.

[2020-10-21 16:13] PierreLevres commented on #79
Please read the code to see what parameters needs to be passed to the functions. The debug.js might clarify lots of questions and parameters to be used. The start command does not really start your EV. It does however set the temperature in your EV.

[2020-10-21 17:41] MarkusKress commented on #79
Thank you. I'll have a look in the Code and I know start() does not start the engine. I try to create a Alexa skill or User the Alexa Button to Heat the Car. In Germany the alxa Bluelink Skill ist not available.

[2020-10-21 17:41] #79 closed

[2020-11-03 21:37] chasenicholl opened #80 "Daily Remote Service Request Limit?"
[Update] Bringing to the top. Spoke with Blue Link US support and...

- 10 requests per action type a day. i.e. The lock() method will only work 10 times a "day".
- 30 requests overall per day. i.e. If I called status() 25 times, then I could only call lock() 5 times before being blocked.

----

Hi!

I started developing a plugin using your wonderful library today! Thanks so much for the work crea

[2020-11-04 06:44] SondreNjaastad commented on #80
Errorhandling is definetly something that we can improve.
I'm not sure about the american max limit, as we dont have the same limit in Europe, @Hacksore might know more about that.
Maybe its an idea to indicate this limit somewhere in code.

we are working to keep this library the same for EU, US and Canada, so there might be region spesific diffrences that are not documented.

We will take your s

[2020-11-04 15:17] chasenicholl commented on #80
@SondreNjaastad Thanks for the reply! I'll test the API limits for the US today and report back with the total number of requests I was able to make for you all.

If I were to make a suggestion a static member to each vehicle class with its rate limit might be a nice approach that way someone, like say myself could keep track of how many times I hit the API against the known limit.

Thanks!

[2020-11-04 15:54] chasenicholl commented on #80
@Hacksore @SondreNjaastad I just got off the phone with Hyundai Blue Link US support, and the limits are ridiculously low. [facepalm]

- 10 requests per action type a day. i.e. The `lock()` method will only work 10 times a "day".
- 30 requests overall per day. i.e. If I called `status()` 25 times, then I could only call `lock()` 5 times before being blocked.

Pretty ridiculous, as these limits are

[2020-11-05 13:21] Hacksore commented on #80
@chasenicholl Thank you for raising this issue and contributing your valuable feedback.

Seems like such a ridiculous thing to have these limitations on calls to their API. So two things come to mind that can help this library out.

- [Documentation on limits](https://github.com/Hacksore/bluelinky/wiki/API-Rate-Limits)
- Proper error handling when hitting limits

[2020-11-05 21:48] samsmooth opened #81 "@EuropeControllerLogin: AuthCode was not found"
Since some days I'm not able to get data anymore. Any changes in the service?

`(node:10558) UnhandledPromiseRejectionWarning: Error [ERR_UNHANDLED_ERROR]: Unhandled error. ('@EuropeControllerLogin: AuthCode was not found')
    at t.emit (events.js:182:17)
    at t.<anonymous> (/opt/fhem/node_modules/bluelinky/dist/index.js:2:41053)
    at /opt/fhem/node_modules/bluelinky/dist/index.js:2:1955

[2020-11-06 05:54] PierreLevres commented on #81
Try to logout and login again from the app on your phone. It might need a change of password.

[2020-11-06 08:39] toraidl commented on #71
Hi @Hacksore,
First of all, Thank you so much for your work .
I am trying to add my sonota 10th gen(**China editon**) remote feature to home assistant , because I can not use bluelink with both my iPhone and Andord rooted.
I have followed your instruction to bypass root check, and ssl pinning but got stuck.
I took off the protective shell succesfully, and found out that the code is not obfuscated.

[2020-11-06 09:02] samsmooth commented on #81
Thank you, Pierre. That's it.

[2020-11-06 09:02] #81 closed

[2020-11-06 13:39] Hacksore commented on #47
I'm not sure this is an issue anymore so I'll close it. If there is anything we can improve a new issue can be raised to track the effort.

[2020-11-06 13:39] #47 closed

[2020-11-06 13:55] Hacksore commented on #71
@toraidl I'd say this could work from just a glance of the code but can't be 100% sure.

[code]

[2020-11-10 05:43] mhirsch commented on #69
I just got an Hyundai EV with bluelink. I see that when I go to the owners.hyundaiusa.com website I can make bluelink API requests through the website. I see the API requests in the browser network traffic. For example, I unlocked the doors and I see this (copied as a fetch):

[code]

I don't have the car plugged in right now, so I can't call the start/stop charge service, but if this is useful to

[2020-11-10 14:13] Hacksore commented on #69
@mhirsch So back in the day https://github.com/Hacksore/bluelinky/tree/0.0.8 I was using the web API endpoints. As the library matured I found that some things were not available (location).

So I made the decision to just get the endpoints from the mobile app 😎.

[2020-11-10 14:31] mhirsch commented on #69
So would it be helpful here to get the start/stop charge request from the web?

[2020-11-11 00:12] Hacksore commented on #69
you can share the request but I don't won't to use them in the library.

I'd like to use the apps API calls so we are consistent.

On Tue, Nov 10, 2020 at 8:31 AM Matt Hirsch <notifications@github.com>
wrote:

[2020-11-13 08:11] mpucherSmIT opened #82 "Hyundai Kona eletric range always zero (0)"
Hi, I own a czech 2020 Kona eletric and like bluelinky so far!

In status->evStatus->driveDistance->rangeByFuel->evModeRange is always 0:

{
  rangeByFuel: {
    evModeRange: { value: **0**, unit: 1 },
    totalAvailableRange: { value: **0**, unit: 1 }
  },
  type: 2
}

Is it possible to get the calculated remaining range from the vehicle? The bluelink app displays the value. Does it calculate it

[2020-11-13 10:04] PierreLevres commented on #82
That is strange, it ought to work. Could you send the version numbers of the systems in your car?
Do you get normal odometer output?

[2020-11-13 10:15] mpucherSmIT commented on #82
![IMG_20201113_111124](https://user-images.githubusercontent.com/38916244/99061183-74888b00-25a1-11eb-8abb-04c36b40c2a4.jpg)

What do you mean by odometer output? I can read the correct GPS coordinates, the battery SoC and other values.

Thank you!

[2020-11-13 11:44] SondreNjaastad commented on #82
I got the same issue. I'll try to look into it. Ioniq EV 2020

[2020-11-13 12:14] mpucherSmIT commented on #82
could you please post your code how you select the value?

[2020-11-13 16:46] chasenicholl commented on #80
@Hacksore I'm not sure what your contribution rules are. But I plan on submitting a PR which would update the American API endpoints. As I'd like to take advantage of this upstream affect in my Homebridge Plugin, without rolling my own API Client.

By using Charles Proxy to intercept the requests to control Hyundai via their website two things became evident.

1. There is another API!!! `https://o

[2020-11-13 16:49] Hacksore commented on #82
Do we think this is a bug with the library or actually the service API layer from Hyundai?

[2020-11-13 16:53] Hacksore commented on #80
@chasenicholl

Well if we want to switch back to the web API for the US we just need to have the location command still hitting the app endpoint (not available via web).

I'm ok with going back to the web API but will require a good deal of testing all the endpoints.

Submit a PR to `develop` and I can review the changes and help test it out.

[2020-11-14 12:32] mpucherSmIT commented on #82
I think the issue can be closed. As we all know, the hyundai API/backend is very unstable, the values appeared today. And I really changed nothing:

{
  rangeByFuel: {
    evModeRange: { value: **107**, unit: 1 },
    totalAvailableRange: { value: **107**, unit: 1 }
  },
  type: 2
}

One thing I'm not sure is at the moment of ready that values the car is plugged in and charging. Will try later whe

[2020-11-14 12:37] #82 closed

[2020-12-26 16:33] rolf-thomas opened #87 "@EuropeControllerLogin: AuthCode was not found"
Anybody else experiencing a "@EuropeControllerLogin: AuthCode was not found" error when trying to poll a EU EV on the Hyundai servers? The script was working perfectly before. Stoped working a couple of days ago. Bluelinky version 5.2.3.

Testing with the debug.js script + config.json confirms the problem:
[code]

[2020-12-26 16:35] PierreLevres commented on #87
Login with the app. You’ll see you have to change your password or pin.

[2020-12-27 12:07] rolf-thomas commented on #87
Thank you for reaching out, Pierre. That worked.

The Bluelink app was working fine without any changes (but might have been only a matter of time). So I changed the pin in the app – doesn't fix the issue. Changed the password in app – solves the problem (same password by the way). Was then kind of pressed to create a Hyundai account and link the Bluelink account to it. Did just that. I have a fee

[2020-12-27 12:07] #87 closed

[2021-01-02 22:55] truedays commented on #80
@chasenicholl can you submit a PR with the "new" API used? It's not clear to me where I can try to plug this in--probably made more difficult because ./default/index.js is minified.

@Hacksore, Are there any docs on any findings that elaborate on the difference between the App and Web API end-points ?

is `api.telematics.hyundaiusa.com` the "App" end-point?
and

the Web end-point (re)discovered by

[2021-01-03 00:41] Hacksore commented on #80
@truedays there are not really any docs but if you look at this older version you can get an idea at least for the US API. You are also right `api.telematics.hyundaiusa.com` is the app and `owners.hyundaiusa.com/bin/common/{SERVICE}` is for the web app.

https://github.com/Hacksore/bluelinky/blob/d5a70c5c27637f784b5131143c2b2442e3f791f8/lib/constants.ts

[2021-01-14 17:40] decafbad86 opened #89 "Cannot log in Response code 400 (Bad Request)"
Hi,

today I tried the bluelinky lib on two systems - MacOS 10.13 and windows 10 - both got the same node.js environment. As shown in docs I changed my credentials an my VIN. When now trying to log in / creating the client as shown I always get

Logging in...
(node:68683) UnhandledPromiseRejectionWarning: Error [ERR_UNHANDLED_ERROR]: Unhandled error. ('Response code 400 (Bad Request)')
    at t.em

[2021-01-14 17:57] PierreLevres commented on #89
Logout from app on phone. Logon again. You might have to change pass or pin

Groet,
Peter Lips

[2021-01-14 18:02] decafbad86 commented on #89
Thanks for the quick reply - I tried this a two time - and changed the password manually for this - this was mentioned in an issue erlier. The moment you wrote - I again logged out and in again on the phone. There was no notification to change the PIN nor the password.

Does it matter if i use the Hyundai account or the old blue link account?

[2021-01-17 08:22] loslobosggb opened #90 "lock/unlock not working - American Vehicles"
When trying to do lock via  "/ac/v2/rcs/rdo/off", get the response below in figure 1.  When doing the lock command via MyHundai android app, it works without issue.  Perhaps there's another api call to do unlock?

Figure 1.
{
    "errorSubCode": "GEN",
    "systemName": "HATA",
    "functionName": "remoteDoorLock",
    "errorSubMessage": "HATA remoteDoorLock service failed while performing the ope

[2021-01-17 08:37] dpembo commented on #89
I get same issue having gone through the hyundai account changes .  Will try and dig a little.

[2021-01-17 09:04] dpembo commented on #89
It fails on the auth unsurprisingly.

I think @decafbad86 you were right.

For me - my original bluelink account and my hyundai account have different email addresses.
If you're logged into the blue link app, take a look at your account and see what email address is in use.  This now shows the hyundai account for me, not the original bluelink account.

If I login using the hyundai account, it seem

[2021-01-17 17:08] Hacksore commented on #90
HI @loslobosggb, Are you using bluelinky or trying to create a request on your own? There is another API endpoint that can be seen in older versions of the lib.

https://github.com/Hacksore/bluelinky/blob/d5a70c5c27637f784b5131143c2b2442e3f791f8/lib/vehicle.ts#L73

[2021-01-17 17:09] Hacksore commented on #89
So for my understanding, the EU accounts went through some kind of migration, right?

[2021-01-17 17:52] loslobosggb commented on #90
Create one of my own.  I'd like to make this available in a c# .net core
solution.  Thanks.  I'll see if these work.

On Sun, Jan 17, 2021, 12:08 PM Sean Boult <notifications@github.com> wrote:

[2021-01-17 22:15] dpembo commented on #89
@Hacksore, kind of - it looks like they're trying to standardise on one account for all hyundai services so are asking you to move to the hyundai account (and create if necessary) versus using the original account registered against bluelink.

To be honest, the process was a little confusing as the login screen on the app shows the below right now.
![bluelink](https://user-images.githubusercontent

[2021-01-18 02:49] loslobosggb commented on #90
The other API endpoint works for lock and a number of other features, such as start.  I was able see the functionality mentioned in the old lib when sending commands via the myhundai website as well.
Thanks.

[2021-01-18 02:49] #90 closed

[2021-01-18 14:31] mpucherSmIT commented on #89
Hi, still no luck for me.

I upgraded my bluelink account to an hyundai account (created a new one with the same e-mail). Changed PIN, password and upgraded to the latest bluelinky npm package (5.2.3). Logged out from the app and in a few times. Still stuck at "logging in to API..."

What else could I do?

Thank you!

[code]

From my config:

[code]

[2021-01-18 15:11] dpembo commented on #89
Hmmm... the one thing I did do was keep the same password (it's some randomly keepass generated thing) so the hyundai account and my bluelink account actually shared the same password but with different email addresses.

Do you see the same login screen I screen grabbed if you logout of bluelink and log back in?

If you try to login with the current account, does it show your account as being 'upg

[2021-01-18 15:23] mpucherSmIT commented on #89
Yes.

Exactly. It shows "upgrade completed" and redirects to the "Hyundai Account Login" Screen.

[2021-01-18 15:26] mpucherSmIT commented on #89
The only difference is that the Hyundai account forces you to use special characters in the password. Could that lead to problems in the password string and during the login call?

[2021-01-18 16:16] decafbad86 commented on #89
If it helps - I do have an Hyundai account and I traced the traffic with SSL decrypt with Chales Proxy. I cleaned some data from this file - my phone number and fullname
[BlueLink.chlsx.zip](https://github.com/Hacksore/bluelinky/files/5831329/BlueLink.chlsx.zip)
The actions I sniffed were logging in and getting the status

[2021-01-18 16:47] SondreNjaastad commented on #90
@loslobosggb Do you have a public repository for the C# lib? I'm a lot more experienced in C# than JS/TS, so i might be able to contribute

[2021-01-18 17:02] loslobosggb commented on #90
Not at the moment.  I can when done.  I'm working on this so I can
integrate my car into my home automation system.  The idea is to issue a
single command to amazon echo that'll lock the car, open the garage door,
start the car so it warms up.  A safeguard will make sure it will only do
it if the car is home.

I'll make the Hyundai stuff a separate project so anyone can use it and
publish when don

[2021-01-18 17:20] SondreNjaastad commented on #90
Are you taking the different regions into Account? Using interfaces like we have done in Bluelinky?

[2021-01-18 18:14] Hacksore commented on #90
@loslobosggb What are you planning for car detection? I was working on this a while back but for now have abandoned the project as the hardware I have is shit lol.

https://github.com/Hacksore/garage-plate-detection

[2021-01-18 19:31] loslobosggb commented on #90
I'm going to do it based on the location.  A part of the hyundai api
provides the vehicles long/lat.  I'll use that to determine if the vehicle
is at home.

On Mon, Jan 18, 2021 at 1:14 PM Sean Boult <notifications@github.com> wrote:

[2021-01-18 23:50] dpembo commented on #89
I've been trying to bypass the certificate pinning on this for a while unsuccessfully so I can trace the calls 😞.
I'm trying to figure out why a few of the API calls don't totally represent what the app does for an EV!

If you can tell me how you manage to do this, that would be great! I tried objection, but that app just crashed out having patched it...

[2021-01-19 06:35] decafbad86 commented on #89
Nobody expected this to be the full representation of the BlueLink API - this is just login and a get status call - the basic things to get things working.

Okay - now to patching - it is not possible to patch the phone - in my case an iPhone - patching will open up a VPN and Hyundai does not like any VPN - so - in my environment I

1. set up my old MacBook installed Chales Web Proxy (https://www.

[2021-01-19 06:47] dpembo commented on #89
thanks - I'll try it on an apple device - maybe this is less secure.

The android version stops mitm sniffing by certificate pinning.  In essence, it ensures the cert it gets from the destination matches what it expects inside the app code, so the only way to sniff the traffic is to 'modify' the app to remove this check.  On android this means modifying the bytecode to remove the check, and it's n

[2021-01-19 07:02] decafbad86 commented on #89
Let me know if I can help you - in the evening I will have access again to my Mac

[2021-01-19 07:13] dpembo commented on #89
I had a quick look in your log... I can't see this call anywhere in your log.
https://prd.eu-ccapi.hyundai.com:8080/api/v1/user/signin

Which I'm pretty certain is where it was failing for me.  The OAuth flow looks slightly different also, but I'm not sure if this is an ios/android difference I'm seeing.

Remove your proxy log btw - I'm pretty certain there's possibly things in there hiding in bas

[2021-01-19 07:21] decafbad86 commented on #89
Thanks for this hint - I'm pretty sure that I know what you mean.... uhm as I can remember - I did not track the web based login - just starting the app - as I walked this through yesterday evening - there was a missing link in my head where the f... the app is transmitting the basic login....

[2021-01-19 09:27] mpucherSmIT commented on #89
Weird behavior: after playing around with debug.js I figured out that I can log in to the API with the old bluelink account pw and the newly assigned PIN (from the hyundai account).

So far my script works but strange things are prob. going on on hyundai side...

[2021-01-19 12:03] Hacksore commented on #89
FWIW if you have a rooted Android phone you can use this method to get
around both root detection and SSL pinning.

https://docs.google.com/document/d/1q0Pz2t5Gmt-vv8z-2Yswhvg2x9B2f3d1vjpkIjt9EfQ/edit

On Tue, Jan 19, 2021 at 3:27 AM mpucherSmIT <notifications@github.com>
wrote:

[2021-01-19 21:47] dpembo commented on #89
So the apple version clearly doesn't worry about certificate pinning so it seems.

Looking at the login flow, it now goes to `https://eu-account.hyundai.com/` to do some authentication

`https://eu-account.hyundai.com/auth/realms/euhyundaiidm/login-actions/authenticate?session_code=<session_id>&execution=<execid>&client_id=<client id>`

Posting the data

`username=<email>&password=<password>&remem

[2021-01-20 18:27] Hacksore commented on #89
@dpembo after you upgrade your account do you essentially break yourself from using the library now?

[2021-01-20 18:31] Hacksore commented on #69
I'm going to close this issue due to age but if we want to revisit it can be reopened.

[2021-01-20 18:31] #69 closed

[2021-01-20 18:34] Hacksore commented on #71
Closing due to age but if we want to revisit this please reply or open a new issue.

[2021-01-20 18:34] #71 closed

[2021-01-20 18:38] Hacksore commented on #80
For now, let's use the table below as a point of reference for API rate limits.

If someone wants to submit a PR to start using the web API again for the US I'd most likely approve it as long as we still use the app API to get vehicle status as it's not available on the web for some reason.

https://github.com/Hacksore/bluelinky/wiki/API-Rate-Limits

It was also mentioned in this thread better han

[2021-01-20 18:38] #80 closed

[2021-01-20 20:42] dpembo commented on #89
No, right now it still currently works somehow!
I kept the same password, and the same pin, but a different email address and I can login through bluelinky still, using the newer email address, so whatever has changed behind the scene has likely modified the bluelink account.

If I try to login with my old bluelink email address in the app, it tells me that my account has been upgraded, and I have

[2021-01-20 20:49] Hacksore commented on #89
@dpembo Would it make sense to just inform users they must migrate their account in order to ensure using bluelinky in EU will work.

If there is nothing really to change from a code perspective that'd be my guidance but then again I'm not part of EU so I'm a bit biased 😀.

[2021-01-20 20:55] dpembo commented on #89
Yes, I had to migrate my account, but I kept the same password, and the same pin (had a different email address).  I can login through bluelinky still, using the newer email address.  If I try to login  the app with my old bluelink email address, it tells me that my account has been upgraded, and I have to re-login using the hyundai login, so something behind the scenes must have created a relatio

[2021-01-20 20:59] #89 closed

[2021-01-22 11:37] nickb512 opened #92 "Setting Charge Limit"
Hi Folks

Does anyone know if it's possible to set the charge limit through the API? Can't see anything documented but maybe someone knows something I don't? I presume it's possible through the API as it can be done via the app, but maybe not implemented in Bluelinky yet?

Ta

[2021-01-22 17:52] PierreLevres commented on #92
Not yet. I implemented it in my eu-python lib. So should be easy to port.  But don’t know about ca and us.

[2021-01-22 18:08] nickb512 commented on #92
@PierreLevres ngl I'm actually an EU Kia e-Niro owner so am using your kuvork nodered palette but was thinking there was more chance of it having been implemented in the bluelinky repo but I guess not. I have looked through the code for kuvork but can't spot how to control this. Any tips?

[2021-01-22 18:56] PierreLevres commented on #92
I keep kuvork more or less identical to bluelinky. But it is a good improvement so i might work on it sometime soon.

[2021-01-23 23:58] anthonyangel commented on #89
I've found that using [mitm proxy](https://docs.mitmproxy.org/stable/) and [apk-mitm](https://github.com/shroudedcode/apk-mitm) it's pretty trivial to create a patched version of the Android app which I can inspect the traffic from

[2021-01-24 20:31] altagir commented on #92
For canada  (need vrfypin authentication)

Plugtype 1 is AC, type 0 is DC

GET  :
Request URL: https://mybluelink.ca/tods/api/evc/selsoc

`{"responseHeader":{"responseCode":0,"responseDesc":"Success"},"result":[{"plugType":0,"level":80,"dte":{"rangeByFuel":{"gasModeRange":{"value":0.0,"unit":1},"evModeRange":{"value":177.0,"unit":1},"totalAvailableRange":{"value":177.0,"unit":1}},"type":2}},{"plug

[2021-01-29 17:39] thierryd opened #93 "Sister project: Androblue"
Hi :)
So... This is not a bug! I wanted to thanks the work of bluelinky. Using the API documentation of bluelinky, I created the [AndroBlue](https://github.com/thierryd/AndroBlue) project, an Android application that can be use to send command to the Ioniq EV 2020 in Canada.

[2021-01-30 18:57] stm2roi3 opened #94 "Repostitory structure for 6.0.0-alpha2 is not compliant"
Adding the Repo to HA results in the error message "Repostitory structure for 6.0.0-alpha2 is not compliant"
Tested with HA 2021.1.5 and HACS 1.10.1.

[2021-01-30 18:59] #94 closed

[2021-01-31 10:08] gruijter opened #95 "Deprecated dependencies used"
**Describe the bug**
When installing the NPM package (bluelinky@6.0.0-alpha2) I get warnings about the use of deprecated packages

**Usefull info(please complete the following information):**
 - OS: Windows
 - Bluelinky Version 6.0.0-alpha
 - Region: EU

**Additional context**
[code]

[2021-01-31 19:04] thierryd opened #96 "[CA] Incorrect celciusToTempCode() range"
In https://github.com/Hacksore/bluelinky/blob/develop/lib/util.ts, the algorithme doesn't apply to the Canadian vehicle. For the Canadian version, the ranges range is 16..32

Here are some valid values:

- 18 : "04H"
- 21.5 : "0BH"
- 24 : "10H"
- 28 : "18H"
- 32 : "20H"

I validated these values with the JSON sent by the real BlueLink application

[2021-02-01 07:40] PierreLevres commented on #96
Two relatively easy functions, hextemp=dec2hex(dectemp*2-32) and dectemp=(hex2dec(hextemp)+32)/2. With of course managing the H added to the end of the Hex string.
In EU and US those functions you must put 28, instead of 32.

But it means that util.ts had to be localized for the regions. So a rather significant change in bluelinky.

Also boundary management needs to be implemented to Util.ts

[2021-02-02 00:09] jegelstaff opened #97 "Hyundai API documentation?"
Congrats on a very cool project, looks amazing. I'm a new Kona Electric owner, so I'm quite interested in this and can think of a few uses. I am wondering where/how you got the details on the underlying Hyundai API? Did you just trap the network traffic to/from the app? Is there an official Hyundai source for the documentation? I would love to see all of what they expose.

Thank you very much for

[2021-02-02 02:29] altagir commented on #97
Canadian side was pretty much reverse engineered, by observing traffic and hacking a bit the mobile app.

And pretty much the same with US and Europe. But all different techniques. Endpoints and teams working on those are different.

They showed no interest in solving issues. Canadian mobile app was a disgrace and failed commands multiple time (low timeout in their mobile app). While using the API

[2021-02-02 02:36] jegelstaff commented on #97
Very interesting. The app does seem pretty flakey. But with an EV the charge management features are particularly useful. Thank you for sharing. Very impressive work.

[2021-02-02 23:19] Hacksore commented on #93
Welcome, glad this project helped you!

[2021-02-02 23:19] #93 closed

[2021-02-02 23:39] Hacksore commented on #97
Welome to the project @jegelstaff

Yeah, I reversed the webapp for US first then moved to the mobile app for better coverage. I do find that the service is really lacking its stability overall and at this point only use it because it's free for my terms of the vehicle.

I just got DroneMobile for another car and it's been quite nice to work with so far. Has it's own project https://github.com/Hack

[2021-02-02 23:39] #97 closed

[2021-02-03 07:19] xerion3800 opened #98 "Improvement for Climate Control"
In the Bluelink App it is possible to use two diferent Climate Controls. Once with Schedule and the other one for directly climate.
When i use the directly Climate then is the duration time 15 minutes. When i use the Schedule then is the duration time is 30 minutes. In Bluelinky i can "only" use the 15 minutes Mode. Could it be possible to add the Schedule in Bluelinky that i can change the schedu

[2021-02-04 00:29] Hacksore opened #99 "CA - Better error handling for command failures"
see the thread for more info but we need to guard the response.

https://github.com/SondreNjaastad/node-red-contrib-bluelinky/issues/23

[2021-02-04 22:28] Hacksore commented on #95
Was not able to reproduce this on my machine with the latest version.

[code]

[2021-02-06 12:36] Hacksore commented on #95
I saw this yesterday when I installed it, I was testing incorrectly.

Looks like these deps are part of `push-receiever` so that needs to be updated.

[2021-02-22 16:03] xerion3800 opened #101 "No Access anymore"
Since today 21-02-2021 i didn't get any access anymore. From a Hyundai guy I heard that they want to change the authentication process. I'am user of Europe maybe it is only an issue in Europe.

[2021-02-22 16:06] tomtom5152 commented on #101
I concur with this, from my own digging it appears as if the notification registration step now requires an application ID as well as a service ID. I am attempting to reverse engineer it a bit further with mitmproxy.

[2021-02-22 17:40] neoPix commented on #101
I'm working with Kuvork (a fork for UVO) and it's the same.
Debugging it : the firsts steps of the auth are ok (for now),
then the `/api/v1/spa/notifications/register` fails with this error :

[code]

[2021-02-22 18:12] tomtom5152 commented on #101
From what I've been able to determine by decompiling the APK and network sniffing, there is now a `Stamp` header which so far I've been able to determine is formed by (psudo) `base64_encode(AES_encrypt(<app_id> + ':' + <unix_timestamp_ms>))`.

I am currently working to determine what the key used for this encryption operation is, but its pretty clear this is an obvious step to stop 3rd party API a

[2021-02-22 18:17] PierreLevres commented on #101
Yes, I noticed that one too. Are you subscribed to the discord server?

[2021-02-22 18:18] tomtom5152 commented on #101
I am not, any chance of an invite please?

[2021-02-22 18:19] PierreLevres commented on #101
It is in the readme.md https://discord.com/invite/HwnG8sY

[2021-02-23 12:10] tomtom5152 commented on #101
A little more digging this morning shows that the call to register for GCM is now failing as well, looks as if they have changed their appID there as well.

[2021-02-23 15:04] fredrikedling commented on #101
For information got the information from the Bluelink support in Europe last week that a completely new app will be launched around May so maybe the change in appID could be related to that.

[2021-02-26 09:34] dlysnes commented on #101
Confirmed same issue( EU). I'm using bluelinky to wake up my Hyundai Kona from hibernation from a raspberry pi as there's a bug in the onboard charger software. It will not start charging when power is turned on otherwise, and Hyundai  isn't putting much effort in fixing this..
Any more digging done?

[2021-02-26 18:54] milhaus opened #106 "engine.range undefined"
**Describe the bug**
VehicleStatus engine.range is undefined. It always returns this value for me. None of the other values in the payload are undefined. Vehicle is a US 2021 Kona EV.

**Usefull info(please complete the following information):**
 - OS: Linux Debian Buster
 - Bluelinky Version 6.0.0
 - Region: US

**Additional context**
Snip from update payload:

[code]

I don't really know how to

[2021-02-26 19:00] milhaus commented on #106
Oops: npm -v bluelinky reported npm's version, not bluelinky. I don't know what version of bluelinky is bundled, but I can say I installed the package that embeds it for the first time a couple weeks ago.

[2021-03-01 18:58] dansloane commented on #101
For reference, Ohme have identified API changes that break their chargers for both Kia and Hyundai.   They've emailed me to say they're working on a fix, however it confirms the issues seen here.

[2021-03-04 12:09] mpucherSmIT commented on #101
Any updates here?

[2021-03-04 13:32] Hacksore commented on #101
@mpucherSmIT I think the plan is to generate a stamp list and include them in the library for use at runtime.

@neoPix is that going to be the plan for #105? Can omit the tools from this repo and leave the generation to https://github.com/Hacksore/hyundai-kia-stamp/

[2021-03-04 13:51] neoPix commented on #101
@PierreLevres as an implementation of [Kuvork@6.2.0-alpha.5](https://www.npmjs.com/package/kuvork/v/6.2.0-alpha.5) which is working well based on what you are suggesting. I'll adjust the PR to use the docker call at build time.

[2021-03-04 15:08] PierreLevres commented on #101
Not entirely correct. The dockers leaves a text file, with a <stamp> on each line.
The code of #105 needs a .ts file with a structure like.
export default ["<stamp1>","<stamp2>",..."<stampn>"]

Either the docker, or the code of #105 needs to be rewritten a bit. Since opening, reading, and closing a file on runtime for each call is rather expensive on disk and memory, I would suggest only to open,

[2021-03-04 15:10] neoPix commented on #101
I just updated #105 to match this discussion :wink:.

[2021-03-04 15:50] #95 closed

[2021-03-04 15:51] Hacksore commented on #101
Should be fixed in `v6.0.1` via #105

[2021-03-04 15:51] #101 closed

[2021-03-04 15:54] Hacksore commented on #96
I have a branch that aims to try and tackle this if anyone wants to pick it up.

https://github.com/Hacksore/bluelinky/tree/fix-temp-codes

[2021-03-04 15:56] neoPix commented on #96
`Kia's stupid temp codes` :rofl:

[2021-03-04 16:11] Hacksore commented on #98
@xerion3800 This does not seem to be a feature in the US but I'd love for 30-minute runtime. Furthermore, it might be something that is only available for EV's.

I think for now I will close this as we don't have region parity for this feature but we can continue any discussion nevertheless.

[2021-03-04 16:11] #98 closed

[2021-03-04 19:13] xerion3800 commented on #98
Yes it is a nice Feature for the EV's. I will have an look on it and maybe later create a new request. For now i hope we can use bluelinky again for the EU

[2021-03-14 10:42] PierreLevres opened #110 "Feature request: add last update time to parsed vehicle status"
Output of vehicle status when parsed does not contain a timestamp of the lastupdate, request to add this.

[2021-03-14 10:53] PierreLevres opened #111 "Feature request: add refresh flag to vehicle.location function"
In EU the vehicle.location call forces a refresh of the car, while sometimes the cached location is enough to handle. This cached location can be read from vehiclestatus.location when vehiclestatus is called with (refresh=false). It might be more in line with vehiclestatus if vehicle.location can also be called with a refresh parameter (eq. defaulting to true) and for the non-refresh option vehicl

[2021-03-14 12:39] Hacksore commented on #110
@PierreLevres So currently on the location call we force the parse.

https://github.com/Hacksore/bluelinky/blob/develop/src/vehicles/european.vehicle.ts#L370
[code]

Do you have an example response of the location call so I know what to add. Also, there is the option to allow for this to not parse automatically just like the status command.

That way if these properties every change from the API y

[2021-03-14 13:19] #110 closed

[2021-03-14 13:24] Hacksore commented on #106
This is basically because the US doesn't handle the EV's status parsing well.

@milhaus Would you be able to post a raw status output from your EV to better help me build the mapping.

[2021-03-14 13:28] Hacksore commented on #92
Since this is quite stale now I'm closing it but would approve a PR that implements it.

More info about enabling this:
https://github.com/PierreLevres/BlUVO/blob/227a2188ccdf3138318ff7935ef1486b17edc9ce/bluvo_lib.py#L840

[2021-03-14 13:28] #92 closed

[2021-03-14 13:35] #99 closed

[2021-03-15 08:04] neoPix commented on #92
I'm working on a EU PR for this.

[2021-03-15 11:42] PierreLevres opened #113 "ACC incorrectly mapping to 'AdaptiveCruiseControl' in parsed vehicle status"
In the parsed vehicle status the 'acc'  is mapped as ' Adaptive Cruise Control' ..
see line 51 in common.interfaces.ts and line 283 in european.vehicle.ts
This should not be AdaptiveCruiseControl but 'Accessory'

Tested by bjakobs, see Discord channel

[2021-03-15 18:31] Hacksore commented on #113
Can we please contribute to this sheet that helps with the mappings?

https://docs.google.com/spreadsheets/d/1FLVX2Y1XUi0F39Jvkkm_EeMuQbrVfAB0Lk5jc-No4Dc/edit?ouid=114789605208957738324&usp=sheets_home&ths=true

[2021-03-16 13:21] tobiasamon opened #115 "Login not possible for Hyundai in EU"
Hi there,

I get an error when trying to use bluelinky for my Ioniq BEV.

I checked out the code (latest version as of 160.03.2021) and try to "run debug". I created a config with my values and execute 'npm run debug'.

The POST to the signin URL return the following message:
 @EuropeController.login: [400] Bad Request on [POST] https://prd.eu-ccapi.hyundai.com:8080/api/v1/user/signin - {"errId":"

[2021-03-16 14:21] PierreLevres commented on #115
Wrong userid or password… 4 tries left within the next 300 seconds. Logout and login again from the app on your phone. If it tells you to migrate your account, do so, and be sure credentials between old BlueLink and new Hyundai account are the same, to avoid mix-ups.

[2021-03-16 19:10] tobiasamon commented on #115
Hi,
thank you.
That helped. Both accounts need to have the same credentials.

[2021-03-16 19:10] #115 closed

[2021-03-16 19:58] andig commented on #115
Same problem here. I can login to the app, but not using bluelinky. New Hyundai account with shared vehicle. Never had a bluelink account.

[2021-03-19 14:11] PierreLevres commented on #113
created a PR for this (with changed code)

[2021-03-19 14:11] #113 closed

[2021-03-19 20:15] fuatakgun commented on #52
hi all, if you have noticed, there is a different login flow in Kia Uvo for registered users since October 2020. We are not allowed to create a UVO account and we should be using Kia account and this change will break the compatibility of existing libraries.

I am working on reverse engineering the new flow, setup local proxy and hotspot and fixing user certificate issues on Android. but these are

[2021-03-19 21:31] PierreLevres commented on #52
Same goes for bluelink Hyundai users maybe? There is some discussion in the node-red-contrib-bluelinky git...

[2021-03-19 21:48] andig commented on #52
Hyundai is wfm, Kia is not.

[2021-03-19 22:45] PierreLevres commented on #52
WFM?
For me Kia e-Niro 2020 bluelinky 7.0.0 is working perfectly

[2021-03-23 18:49] drygnet opened #121 "Feature request: Send POI / Destination to Nav"
Would love to be able to send a location to the nav in the car.

I could probably add the feature if someone could point me in the direction of some documentation,
I can't find anything, but would love to help.

[2021-03-23 19:15] PierreLevres commented on #121
What region are you in? For Europe it is easy. Already implemented in my python lib. Will try to port that into develop. Don’t know for the other regions.

[2021-03-23 21:03] PierreLevres commented on #121
https://github.com/PierreLevres/BlUVO/blob/master/bluvo_lib.py

[2021-03-23 21:12] drygnet commented on #121
Nice! I'm in Europe (Sweden),

Im looking at the python lib now,
I think it's here:
https://github.com/PierreLevres/BlUVO/blob/227a2188ccdf3138318ff7935ef1486b17edc9ce/bluvo_lib.py#L860

and the poi_info object is set here:
https://github.com/PierreLevres/BlUVO/blob/01cf2990f148bbc36b16f0b01812db8129546735/generic_lib.py#L28

My usecase does not require the address-decoding via openstreetmap, I ca

[2021-03-23 21:19] drygnet commented on #121
My idea just for fun.

I wan't to use google maps on my phone, select och search for a place and use the apps share-function to send the location to the car.

The share function on iOS can be extended via the shortcuts app, but what google maps app sends to the shortcut is a short link with no actual info, so I need to build a service that can:
visit the link and get the redirect info from the res

[2021-03-23 21:29] PierreLevres commented on #121
It takes an object like this as information to navigate to:

{'poiInfoList': [{'phone': '', 'waypointID': 0, 'lang': 1, 'src': 'HERE', 'coord': {'lat': -77.0365427, 'alt': 0, 'lon': 38.8950368, 'type': 0}, 'addr': 'Washington, District of Columbia, United States', 'zip': '', 'placeid': 'Washington, District of Columbia, United States', 'name': 'Washington, USA'}]}

[2021-03-25 20:05] drygnet commented on #121
Very cool, actually works!

[2021-03-25 20:38] drygnet opened #124 "Typescript usage ?"
Trying to use bluelinky with typescript but I can't get the types right.
(my typescript skills are lacking)

import BlueLinky from "bluelinky";

const client: BlueLinky = new BlueLinky(
	{
		username: "example@test.com",
		password: "mySecretPass",
		pin: "0000",
		region: "EU",
		brand: "hyundai"
	}
);

this will be an american vehicle and the region should not be a string
(Should be REGION.EU, b

[2021-03-25 20:48] Hacksore commented on #124
Types defs incorrect with the refactoring done via `7.0.0`.

![image](https://user-images.githubusercontent.com/996134/112541570-882ed400-8d81-11eb-9e21-7d87c0dbc944.png)

[2021-03-25 20:52] Hacksore commented on #124
@neoPix if you have time would you be able to take a look at this?

[2021-03-25 21:07] drygnet commented on #124
Low priority for me, I'm mostly happy that it wasn't (just) my  typescript skills,
this "hack" works for me for now:

[code]

I REALLY APPRECIATE THE WORK YOU (ALL) ARE DOING,
thank you so much ! <3

[2021-03-26 17:53] Hacksore commented on #124
Fixed with #125, will be available with the next release.

[2021-03-26 17:53] #124 closed

[2021-03-26 17:55] milhaus commented on #106
Sorry to leave you hanging... I've got a newborn on my hands. I tried getting a script together with the bluelinky instance installed as a dependency of homebridge-hyundai-bluelink but it looks like it'll be easier to set up a dedicated VM to capture the raw status. Maybe there's a bluelinky docker out there that could speed things up?

[2021-03-26 17:56] Hacksore commented on #106
@milhaus yeah, I have one that needs to be updated :)

https://github.com/Hacksore/bluelinky-docker

[2021-03-26 20:11] Hacksore commented on #121
This was done for EU in #122, other regions still need a separate change.

[2021-03-26 20:11] #121 closed

[2021-03-26 20:12] Hacksore commented on #111
@PierreLevres is this still needed?

[2021-03-26 20:25] PierreLevres commented on #111
'Needed' is a big word, I'd call it 'wanted for consistency'.  Status: Refreshed or cached and then likewise Location: Refreshed or cached.

[2021-03-26 21:44] gruijter commented on #111
Cached location is already available when doing fullStatus(refresh:false)

[2021-03-26 22:33] PierreLevres commented on #111
I know.
See my original question... see also why I made the request. Consistency.

[2021-03-29 19:13] Hacksore commented on #111
Well unless you figure out how to make this consistent across regions I'm closing with wontfix for now.

[2021-03-29 19:13] #111 closed

[2021-04-01 12:11] PierreLevres opened #126 "feature request: list of trips per day"
in version 7.0.1 trip info is added in one way: listing and detailing all trips on  certain day.
However in the tripinfo-endpoint there is a second report possible: list the number of trips per day, though not detailing the trips of a day.
The difference from the other report is accomplished by changing tripPeriodType to 0 instead of 1.

Output is when submitting this month as input:
{'monthTripDa

[2021-04-01 12:27] neoPix commented on #126
So the input would be a month, and it will output the travel counts for each day of this month. Is this right ?

[2021-04-01 12:53] PierreLevres commented on #126
In my python lib:
input
{'setTripDay': any value or undefined or omitted,
 'setTripLatest': any value or undefined or omitted,
 'setTripMonth': '202103',
 'tripPeriodType': 0}

{'monthTripDayCnt': 16,
 'tripAvgSpeed': 41,
 'tripDayList': [{'tripCntDay': 1, 'tripDayInMonth': '20210302'},
                 {'tripCntDay': 2, 'tripDayInMonth': '20210303'},
                 {'tripCntDay': 3, 'tripDayInM

[2021-04-01 13:08] PierreLevres commented on #126
This is my python code:
[code]

[2021-04-01 15:27] neoPix commented on #126
Thanks, I'll give it a try and implement this soon.

[2021-04-03 21:28] milhaus commented on #106
I was able to get things running in a VM and run the debug script. The raw status options under "what you wanna do" err'd out as undefined, but I was able to get responses from status on server cache:

Here's a snip from "status (on server cache)". Note there is no range under engine:

`"engine": {
    "ignition": false,
    "accessory": false,
    "charging": false,
    "batteryCharge12v": 82,

[2021-04-05 14:26] neoPix commented on #126
@PierreLevres the PR have been merged, should be available in the next release.

[2021-04-09 21:18] fuatakgun commented on #52
hi all,

I have baked a custom integration for EU Kia Uvo, this will be working for new account types. Thanks for your hard work @wcomartin

Warning ahead; this is pre-alpha phase, please do not expect something fully functional, I will improve the integration by time.

You can install this either manually copying files or using HACS. Configuration can be done on UI, you need to enter your usernam

[2021-04-14 10:26] fratinize opened #132 "Newbie Help"
Please excuse my Ignorance first attempt at adding this to my environment.
 can Someone Please explain where this File

const BlueLinky = require('bluelinky');
and all below it is?

IS this the Config? or is it something else? if it is something else I assume

{
  "username": "email",
  "password": "password",
  "pin": "pin",
  "brand": "kia" or "hyundai",
  "vin": "vin"
}
this with my Information

[2021-04-15 12:56] Hacksore commented on #132
You can pass the config into the constructor of the BlueLinky class like so. The debug scripts expect you to create a `config.json` file with the same data and import it.

[code]

[2021-04-15 12:56] #132 closed

[2021-04-15 19:51] fratinize commented on #132
Please dumb this Down, I am Very New.
Not understanding the code below. It is more like the “Example” on git
 What is That file? Do I create it and Paste the example, in that file then edit with my data?

Do I Also Have config.json and How is that Formatted? Just the { }?

Thank You for your help

Frank

[2021-04-16 19:25] bzeeman opened #135 "[US] Support Kia"
**Describe the bug**
A clear and concise description of what the bug is.
try to run both in my own code and with a config.json and throws error
**Usefull info(please complete the following information):**
 - OS: [e.g. macOS, Windows, Linux]
 - macOS Big Sur
 - Bluelinky Version [e.g. v5.2.3]
 - 7.1.0
 - Region: [e.g. US, CA, EU]
 - US

**Additional context**
Add any other context about the problem

[2021-04-16 19:53] PierreLevres commented on #135
Kia US is not supported. This is not a bug, just missing. If you can help in sniffing network traffic that would be great.

[2021-04-16 19:54] #126 closed

[2021-04-16 23:10] bzeeman commented on #135
Oh... Well i guess that error makes sense then. I suppose WireShark is the way to go with that right? I'll need to remember how to do that.

[2021-04-17 05:46] PierreLevres commented on #135
On my Mac I use Charles as a MITM proxy.
Pretty easy to use and save traffic as json files. Free version suffices

[2021-04-17 10:08] olivierjag2 commented on #135
i have problem with node-red with get status, I live in canada, normal?

[2021-04-17 12:11] Hacksore commented on #132
@fratinize If you're not a developer It's probably best to use something a little more friendly like node-red.

https://github.com/SondreNjaastad/node-red-contrib-bluelinky

[2021-04-17 12:45] #106 closed

[2021-04-17 14:24] olivierjag2 commented on #135
I think I have issue with canada car also

[2021-04-18 10:25] olivierjag2 opened #136 "get status- KIA - Canadian car issue"
i have bug since 5 days. When I try to get car status, I receive error
"Cannot read property 'substring' of undefined"

Lock, Start, location, unlock, stop works fine with no error.

 - OS: node-red
 - Bluelinky Version 7.1
 - Region :CA

<img width="717" alt="image" src="https://user-images.githubusercontent.com/31319364/115142267-ccbf2f80-a00e-11eb-8898-d67c081a9719.png">

[2021-04-19 15:08] PierreLevres opened #138 "Error handling in setNavigation wanted"
When sending more than 3 locations/waypoints in the call to setNavigation it errors. Also wayPointID > 2 errors. (So the maximum is 3 waypoints)

 - nodeJS
 - Bluelinky 7.1.0
 - EU

I propose to keep the first (final destination) and last two (meaning the first two waypoints on the route)

[2021-04-19 18:31] neoPix commented on #136
Hi, the fix seems to be here.
Not integrated yet https://github.com/Hacksore/bluelinky/pull/137.

[2021-04-19 18:34] olivierjag2 commented on #136
do you know when ?

[2021-04-20 11:05] andyearnshaw opened #139 "[EU] Unable to set rear window/side mirror and steering wheel heating"
**Describe the bug**
When calling `start()` for climate control in the EU, it doesn't appear to be possible to activate rear window (and side mirror) heating, or the steering wheel heating. The [documentation](https://hacksore.github.io/bluelinky-docs/docs/api-reference#start) is incorrect and doesn't match the [implementation](https://github.com/Hacksore/bluelinky/blob/97730dc8df9d6a92e42951b181d

[2021-04-20 11:10] andyearnshaw commented on #139
Here's an image of the options available in the app:

![Screenshot_20210420-120920_Bluelink.jpg](https://user-images.githubusercontent.com/1826067/115386479-57e82300-a1d1-11eb-8dbb-4c54471722da.jpg)

[2021-04-20 14:23] Hacksore commented on #136
Should be fixed in the latest node-red addon.

[2021-04-20 14:23] #136 closed

[2021-04-20 14:27] Hacksore commented on #138
Should the lib really be responsible for handling every edge case/error scenario? This seems like it could just instead be handled in the downstream implementation, no?

PR's are welcomed to fix this but I don't think there is much value here so I'm closing this. Feel free to continue the discussion nevertheless.

[2021-04-20 14:27] #138 closed

[2021-04-20 18:04] PierreLevres commented on #139
I can concur on the logic about the windscreen heating vs defrost vs heating1 remarks.
For me, heating1 (rear window, mirrors, steeringwheel) only work if defrost is selected.
If you send defrost=true and heating1 = 1, your car will be a heated.
![IMG_6612](https://user-images.githubusercontent.com/62832923/115443521-a9b19d00-a213-11eb-8b11-86689b6c9250.jpeg)

[2021-04-20 22:50] olivierjag2 commented on #136
Thx!

[2021-04-21 05:57] PierreLevres commented on #138
Not really, they might remove the limitation in future versions. I’ve implemented the error handling in my NR implemementation (not in the node I PRred earlier).

[2021-04-21 08:25] andyearnshaw commented on #139
This is what I'm sending:

[code]

This turns on the air conditioning and the windscreen defrost but not the rear window/side mirror or steering wheel heater.

[2021-04-21 11:39] PierreLevres commented on #139
Since you are in the EU, you seem to be missing “temperature" and “unit" in your call.

This config object needs to be passed to the EU-vehicle
public async start(config: VehicleClimateOptions)
Where this config object is defined as:
export interface VehicleClimateOptions {
  defrost: boolean;
  windscreenHeating: boolean;
  temperature: number;
  unit: string;
}
In the  EU-vehicle-code this confi

[2021-04-21 13:03] andyearnshaw commented on #139
Yep, that worked. I had tried this before without the `unit` parameter and I think that's what stopped it from working. Strangely, air con switched on without passing temperature, which is why I was confused and thought `airCtrl` was working for me.

So it looks like the real issue is that the documentation is not correct for EU regions (or that the implementation is different for the EU region th

[2021-04-27 10:42] andig opened #143 "[EU] Kia login fails"
**Describe the bug**
A clear and concise description of what the bug is.

**Usefull info(please complete the following information):**
 - OS: macOS
 - Bluelinky Version: bluelinky@7.2.0
 - Region: EU

**Additional context**

This is what I see when I run the login via proxy:

[code]

The last request executed is against `https://prd.eu-ccapi.kia.com:8080/api/v1/user/signin`

[2021-04-27 12:04] neoPix commented on #143
Hi @andig,

This case might occur when the kia (also the case with hyundai) auth system requires you to change your password.

If you have the skill or the time to do so, it would be nice to have the http(s) redirect sequence from `https://eu-account.kia.com/auth/realms/eukiaidm/protocol/openid-connect/auth` to the error to integrate the password change management part.

On the password change pag

[2021-04-27 12:50] andig commented on #143
thanks @neoPix, much appreciated

As for the bluelinky flow there is not much going on:

[code]

After that it continues:

[code]

[2021-04-27 18:44] andig commented on #143
Use logged out of the app and back in, then had to change his password. Unfortunately that was beyond my control for tracing. Thanks for your support!

[2021-04-27 18:44] #143 closed

[2021-06-02 16:17] danielntamasi commented on #135
@Hacksore could you help me understand how I can help here?
Is it doable to sniff network traffic from the browser? I only have iOS, so i have a huge hunch that it's not doable on my phone (on other forums, I've seen people using their android to achieve this).

Thank you for your answer in advance.

[2021-06-04 20:08] yonigold1 opened #145 "Engine not starting (via homebridge bluelink plugin which uses BlueLinky)"
**Describe the bug**
The engine of my Hyundai does not successfully start.

**Usefull info(please complete the following information):**
 - OS: Homebridge (Linux)
 - Bluelinky Version v5.2.3
 - Region: CA

**Additional context**
When trying to start the engine through Apple HomeKit the command gets sent however the command doesn't seem to get executed. To elaborate, the command to start the igniti

[2021-06-05 16:51] Hacksore commented on #145
@yonigold1 can you share the start config you use?

In the past others have had success in `CA` with this https://github.com/SondreNjaastad/node-red-contrib-bluelinky/issues/18#issuecomment-754851538

[2021-06-05 16:55] Hacksore commented on #135
@danielntamasi most people use Andoird (myself) included as it's easier, here is my document on the process but not quite helpful for you on iOS.

You can sniff the browser traffic but the webapp is usually a different API than the webapp and might have fewer features.

https://docs.google.com/document/d/1q0Pz2t5Gmt-vv8z-2Yswhvg2x9B2f3d1vjpkIjt9EfQ/edit?usp=sharing

Hopefully, others will have int

[2021-06-06 13:09] yonigold1 commented on #145
when u say the start of the config what do u mean? like my config for homebridge?

[2021-06-07 19:36] altagir commented on #145
@Hacksore
I tested by curiosity latest main, and yes it got broken

value": "6H" is wrong, it should be "06H" (17 degrees)
when i use 22 degrees ("value": "10H"), issue does not show.

I remember to see some refacto pass by to have common function
may be refer to my initial implementation

regards

[code]

[2021-06-08 20:04] yonigold1 commented on #145
So to fix this issue one has to change those values?

[2021-06-09 01:15] athal7 commented on #145
Here is the relevant code in the homebridge plugin:
https://github.com/athal7/homebridge-hyundai-bluelink/blob/main/src/services/ignition.ts

And the type for the config that is referenced:
https://github.com/athal7/homebridge-hyundai-bluelink/blob/main/src/config.d.ts

[2021-06-09 01:32] Hacksore commented on #145
I'm sure this must be related to #96 based on the feedback here.

[2021-06-09 15:16] yonigold1 commented on #145
So what would this mean? how would i got about fixing this for myself?

[2021-06-09 16:44] altagir commented on #145
I think it is our side to fix, and just add a padding 0 to the hex value

[2021-06-09 16:54] altagir commented on #145
I had this initially for canadian
[code]
Notice the
[code]
@Hacksore , could you follow up with the fix, I am really overloaded at work

[2021-06-09 18:54] yonigold1 commented on #145
Okay if you guys want me to test just let me know :)

[2021-06-11 19:35] Hacksore commented on #145
So this is really just because our [celciusToTempCode](https://github.com/Hacksore/bluelinky/blob/181104c0c5c0b78e7cf0e7309db0b42050217e05/src/util.ts#L14) method doesn't work right.

Let's close this issue as duplicate as the fix should be with #96 but we need someone willing and able to understand wtf Hyundai/Kia is doing.

[2021-06-11 19:35] #145 closed

[2021-06-12 17:07] altagir commented on #145
@Hacksore it was just missing the padding 0 ....
I am not sure it is related, should also impact US et EU

[2021-06-13 02:45] yonigold1 commented on #145
Will someone let me know when this is fixed so i can give this a try with my car :)

[2021-06-13 10:32] NiccoStar86 opened #147 "[EU] Unable to start ICE (internal combustion engine) car (Hyundai Tucson 2021)"
Hi everybody, I try to implement via Node-RED and Home Assistant, some features to send/retrive data form my new Hyundai Tucson 2021 :)

While other functions like "car-status", "car-odometer", "car-lock" and "car-unlock" works correctly, when I try to use the "car-start" following the documentation ...

<img width="555" alt="Schermata 2021-06-13 alle 12 31 37" src="https://user-images.githubuserc

[2021-06-13 12:05] Hacksore commented on #147
@NiccoStar86 Those question marks should not be in the keys, that's most likely the issue.

[2021-06-13 13:13] NiccoStar86 commented on #147
Thank you @Hacksore ! Also without the question marks, I received the same response ...

<img width="320" alt="Schermata 2021-06-13 alle 14 40 00" src="https://user-images.githubusercontent.com/7814756/121807688-858f9c80-cc55-11eb-9de4-8e6aeb17a95a.png">

<img width="433" alt="Schermata 2021-06-13 alle 14 40 46" src="https://user-images.githubusercontent.com/7814756/121807698-888a8d00-cc55-11eb-8b

[2021-06-13 14:22] Hacksore commented on #147
@neoPix I think this no longer works for ice vehicles :)

https://github.com/Hacksore/bluelinky/blob/181104c0c5c0b78e7cf0e7309db0b42050217e05/src/vehicles/european.vehicle.ts#L38

[2021-06-13 17:06] neoPix commented on #147
I did some testing on this with on off the Jeedom plugin users and by November 2020 it was not possible.

Is it possible in the app ?

If not, this might be why it also does not work in Bluelinky.

[2021-06-14 16:34] Hacksore commented on #96
My latest unworking changes are in the `develop` branch.

[code]

[2021-06-18 07:02] NiccoStar86 commented on #147
Thanks @neoPix, actually from the application it is not possible to start the machine ... I was hoping to be able to do this through Bluelinky :) also because my Tucson was delivered with the remote control that allows remote ignition, so I don't see why not allow the same operation to be done remotely via app/api. I close this (not) bug! Thanks to everyone.

[2021-06-18 07:02] #147 closed

[2021-06-27 07:56] yonigold1 commented on #145
any update yet?

[2021-07-02 14:03] djungbluth opened #148 "Cannot login into EU"
**Describe the bug**
Cannot login into EU region. The following error is thrown:

`[2021-07-02 09:20:24] error: @EuropeController.login: sign in with EuropeanBrandAuthStrategy failed with error Error: @EuropeanBrandAuthStrategy.login: Cannot find the argument userId in https://prd.eu-ccapi.hyundai.com:8080/web/v1/user/integration/auth?intUserId=xxxx.
[2021-07-02T09:20:24.564Z] Error
[2021-07-02T09

[2021-07-02 14:24] neoPix commented on #148
Hi @djungbluth, Thanks for noticing
I also got it and found a way to fix it: the fix will be available on the next version of the package : https://github.com/Hacksore/bluelinky/pull/149

[2021-07-02 14:32] djungbluth commented on #148
👍

Fix works for me - superb

[2021-07-03 06:29] djungbluth opened #152 "Vehicle status not up-to-date"
**Describe the bug**
evStatus.batteryStatus received by vehicle.status() is not up-to-date and in sync with what the official Bluelink App displays. For instance, evStatus.batteryStatus is "37" although the Bluelink App shows "80" which is correct.

Before this observation, I noticed that Bluelinky's response was only updating when refreshing the status in the Bluelink App.

**Usefull info(please

[2021-07-04 13:40] neoPix commented on #152
Is it possible that a few days ago the battery level was at 37%. I'm also having this issue with the status from server values, It look's like Hyundai/Kia are having a cache in place and that it's flawed.

Anybody else with this issue and/or hints on its root cause ?

[2021-07-04 18:35] djungbluth commented on #152
Correct, 37% was the old status some time ago.

It became apparent that 37% was still displayed in another official Bluelink app that is installed on a second phone. Once refreshed there, the up-to-date status was also finally reported by using Bluelinky.

Agreed, there seems to be some crazy cache in place which is not refreshed when Bluelinky logins and queries the vehicle‘s status.

[2021-07-05 09:43] neoPix commented on #96
Took some time to test and fix it in this PR : https://github.com/Hacksore/bluelinky/pull/153

[2021-07-05 09:49] neoPix commented on #148
Waiting for #153 to be merged for it to be available.

[2021-07-05 12:08] Hacksore commented on #152
In theory, when you use `refresh: true` should it always be fetching the latest data from the vehicle though?

[2021-07-05 12:08] #96 closed

[2021-07-05 12:09] #148 closed

[2021-07-05 12:11] Hacksore commented on #139
Yeah, I release think we need to standardize the inputs across all regions so there is no more bad documentation or guesswork.

Let's make that a stretch goal for 8.x release, going to close this issue as a solution was found.

[2021-07-05 12:11] #139 closed

[2021-07-05 12:12] #152 closed

[2021-07-05 17:32] djungbluth commented on #152
I guess this means one should use „vehicle.status({„refresh“:true})“?

Interestingly, w/o refresh the API runs also into a rate limit. What is the purpose of refresh=false by default?

[2021-07-06 12:45] Hacksore commented on #152
Querying your car is expensive with `refresh` as it has to connect to the 3g/4g modem. If you did that enough you'll definitely kill the battery 😅

[2021-07-06 18:33] djungbluth commented on #152
- How many times before battery is getting drained?
- Does this apply to electric vehicles, too?
- Is 12V battery status returned by vehicle.status() and how to know before battery is „killed“?

BTW, awesome project and keep up your great work! Really cool!

[2021-07-06 18:44] PierreLevres commented on #152
Depends on multiple factors. I would think about  100 times.
Yes also applies on EVs. Even more since that 12v battery is rather small
The battery status is only updated when driving or when shutting down the engine. So no indication it is about to die.

[2021-07-12 12:58] athal7 opened #155 "[US] Failed authentication"
**Describe the bug**
As of the last few days, there are error responses coming from the Hyundai API on attempted auth. Seems unrelated to any release.

**Useful info(please complete the following information):**
 - OS: Linux
 - Region: US

**Additional context**

https://github.com/athal7/homebridge-hyundai-bluelink/issues/26

[2021-07-12 13:00] Hacksore commented on #155
Looks like we might have a new client id or something related to the new app.

[code]

[2021-07-12 15:55] PierreLevres commented on #155
Striking, but that is the exact same message I get when running the old Kia-UVO iPhone app, but that is another region (EU).

[2021-07-19 16:18] mpucherSmIT commented on #152
I had the query running every 20 minutes (24h) and it killed the battery twice. So depending on the battery condition something around 70 requests a day is enough to drain it completely.

I'm now at every 3 hours from 8 am to 8 pm and that seems to be fine (so far)

[2021-07-20 17:46] djungbluth commented on #152
Depending on whether engine is on and/or battery is charging, I reduce the intervals for polling..

There isn‘t a webhook for vehicle status updates, right?

[2021-07-30 21:47] Hacksore commented on #155
Was able to get the latest client id/secret for the US API using this frida script.

client_id: `m66129Bb-em93-SPAHYN-bZ91-am4540zp19920`
client_secret: `v558o935-6nne-423i-baa8`

[code]

[2021-07-30 21:55] Hacksore commented on #155
Fixed via #156

[2021-07-30 21:55] #155 closed

[2021-08-11 20:32] mjruotolo commented on #135
I hope someone can get the US working.  I dont have a device i can sniff with

[2021-08-11 22:36] Hacksore commented on #135
I can sniff the traffic but lack a Kia US account 😅

On Wed, Aug 11, 2021 at 3:32 PM mjruotolo ***@***.***> wrote:

[2021-08-12 00:15] sacua opened #157 "[CA] Support Kia EV charging methods"
I'm not sure if this is the best place to write, but I will give it a try. So I'm using node-red-contrib-bluelinky which I understand also use this code. So, I have a Kia EV car in Canada and I would like to be able to set charge target and start and stop the charge, which seems to not have been implemented for Kia in Canada with bluelinky (I'm maybe wrong).

I've try to make some modification in

[2021-08-12 18:44] Hacksore commented on #157
Created https://github.com/Hacksore/bluelinky/tree/feat/ca-ev-charge which would need someone to test it out 😅.

[2021-08-12 18:54] sacua commented on #157
To bu sure, in my .node-red directory, I should run the command npm install https://github.com/Hacksore/bluelinky/tree/feat/ca-ev-charge. Then, I will be able to test it with node-red?

[2021-08-12 19:17] Hacksore commented on #157
@sacua not quite - ideally this is how you should test before we think about getting this added to the node-red plugin.

1. Open a directory you wish to clone the `bluelinky` project to in your terminal
2. Run `git clone -b feat/ca-ev-charge https://github.com/Hacksore/bluelinky.git`
3. Run `cd bluelinky`
4. Create a `config.json` with this structure in the project dir and enter your specifics
[co

[2021-08-12 20:13] sacua commented on #157
Sorry for my limited knowledge in that area, but I certainly do something
that is not right, I have the following error in the terminal:

[image: image.png]

At first, I've run it in my home directory and then due to the error, I've
try to run it in the node_modules directory.

I may not answer for the next few hours.

thanks a lot for your help!
--
Samuel

Le jeu. 12 août 2021, à 15 h 17, Sean Bo

[2021-08-12 20:21] Hacksore commented on #157
@sacua I forgot to include a step please check the instructions again.

[2021-08-12 21:34] sacua commented on #157
The start and stop the charging is working! However, the charging target does not seems to work, although no error are appearing in the terminal. When I look into UVO or go into my car, the set charging target does not change in comparison to the previous one.

[code]
What I've realised is the label "targetSOClevel" may need to be only "level".

[2021-08-13 14:15] Hacksore commented on #157
@sacua can you run a `git pull` and again as I've made the change you pointed out for charge targets.

[2021-08-13 16:56] sacua commented on #157
@Hacksore, it is working! Thanks a lot

[2021-08-19 20:59] sacua commented on #157
Hi,
I don't want to want

[2021-08-19 20:59] #157 closed

[2021-08-19 21:00] Hacksore commented on #157
@sacua was leaving open so I remember to publish the latest version 😬

[2021-08-20 16:00] sacua commented on #157
Oups sorry, I didn't want to do that, I want to remove a message that I
publish accidentally.

Le jeu. 19 août 2021, à 17 h 00, Sean Boult ***@***.***> a
écrit :

[2021-09-03 21:56] sacua commented on #157
Hi Sean,
I don't want to put any pressure since I know you do this for fun. When do
you think the new feature you have implemented for Canadian electric car
will be available in node-red-contrib-bluelinky?
Thanks,
--
Samuel Cuerrier Auclair
Cell: 418-805-5131

Le ven. 20 août 2021, à 12 h 00, Samuel Cuerrier Auclair <
***@***.***> a écrit :

[2021-09-06 14:20] Hacksore commented on #157
@sacua Would you mind opening an issue for this in the node-red addon repo?

[2021-09-06 14:36] sacua commented on #157
Since the last update made today, everything is working now. Thanks!

[2021-09-07 18:31] darthjinxxx opened #160 "newb"
wow how do i even start all this? i used someones shortcut several weeks back and it utitlized this api.  However they no longer own a hyundai so I am trying to correct the shortcuts.  who can help me

[2021-09-08 20:59] Hacksore commented on #160
You could see if anyone on the shortcuts subreddit is willing to revive it - not much bandwidth from me.

https://www.reddit.com/r/shortcuts/
https://editor.scpl.dev/

[2021-09-08 20:59] #160 closed

[2021-09-21 10:44] simon-k opened #162 "BlueLink API Documentation?"
Hi

Where did you find the documentation for the bluelink API and the information about stamps, clientId, appId, authClientId, basicToken, GCMSenderID etc?

I'm thinking about doing something similar to bluelinky just for .NET and Java applications. If I do so I'll ofc. reference Bluelinky.

[2021-09-21 11:24] neoPix commented on #162
Hi @simon-k,
Sadly the Bluelink and Uvo API are not officially documented, this work is mostly based a reverse engineering ; by proxying and reading the App binaries, we managed to understand the inner workings and extract required values to replicate it.
We're discussing the subject on Discord here : https://discord.gg/97PaRsf2, feel free to join us.

[2021-09-24 14:54] JanJaapKo commented on #162
Hi guys,

I'd be very much interested to see the API documentation as it will help me maintain my own implementation (Domoticz plugin, https://github.com/JanJaapKo/BlUVO). Or reference to Postman collection is also helpful to explore the API

[2021-09-24 15:23] Hacksore commented on #162
Postman collections would be nice if anyone is up for it 😬.

[2021-09-25 07:11] PierreLevres commented on #162
Good to see you took over BlUvo!

[2021-09-30 12:38] Hacksore opened #165 "[EU] starting and ICE vehicle doesn't work"
I believe in its current form this only supports EVs

https://github.com/Hacksore/bluelinky/blob/e7c4021c3824ac8401c97be59543287a8240c322/src/vehicles/european.vehicle.ts#L55

ICE vehicles will get an error:

[code]

[2021-10-10 21:54] cdnninja commented on #135
I found the network tab of edge in developer mode works well as a starting point.

[2021-10-17 23:16] CreatorSky opened #166 "TypeError: Cannot read property 'refresh' of undefined"
**Describe the bug**
returns nil output when calling vehicle.status(). Works well if using npm run debug, the issue occurs only when using as node.js module.

**Usefull info(please complete the following information):**
 - OS: Tried with both Windows and MacOS
 - Bluelinky Version 7.5.0
 - Region: CA

**Full output:**
TypeError: Cannot read property 'refresh' of undefined
    at ie.<anonymous> (C:

[2021-10-18 01:12] Hacksore commented on #166
Sounds like you might not be passing in the status options.

[code]

On Sun, Oct 17, 2021 at 6:16 PM Akash Parmar ***@***.***>
wrote:

--

Warm regards,

*Sean Boult*
Cell: (214) 901-7188

[2021-10-20 01:32] cdnninja commented on #135
I wanted to point everyone here if you want to follow along on our work on this for Home Assistant: https://github.com/fuatakgun/kia_uvo/issues/88

[2021-10-23 15:39] caseyjmorton opened #167 "Bluelink API Credendials"
It would probably be a good idea to externlize your credentials to prevent abuse.  That said, how were you able to obtain API credentials?  I'm trying to get credentials for the API so that I can write a port of bluelinky to python so that I can create a native integration for HomeAssistant.  I am in the US and dont speak Korean.  I tried to register on developers.hyundai.com but it looks like you

[2021-10-26 12:14] #167 closed, assigned to nobody

[2021-10-31 16:14] jaroslawsky opened #170 "Hyundai login fails"
**Describe the bug**
Instantiation of BlueLinky object not possible

**Usefull info(please complete the following information):**
 - OS: Windows
 - Bluelinky Version v7.6.0
 - Region: EU

**Additional context**
The console output:

[code]

[2021-10-31 16:18] jaroslawsky commented on #170
This issue is different to "Kia login fails #143"

The error message here is:  Cannot find login-actions code.

[2021-11-04 12:28] CrAsH0v3r opened #174 "batsoc sometime undefined"
Hi, It's more a question than a issue,
I noticed last summer and then yesterday that sometime my Kona 2021 do not return the value for the batsoc field.

My script based on Bluelinky was crashing so after a bit of investigation, I saw that the JSON file was sometime missing 1 (or maybe more?) fields. It is the case for batsoc this morning.

 - OS: Any
 - Bluelinky : Any
 - Region: CA

The API call

[2021-11-04 13:50] olivierjag2 opened #175 "Kia Canada"
** the bug**
A clear and concise description of what the bug is.

**Usefull info(please complete the following information):**
 - OS: [e.g. macOS, Windows, Linux]
 - Bluelinky Version 7
 - Region: ça

**Additional context**

Kia change the app and node red don't work since

[2021-11-04 22:42] sacua commented on #175
Yes I support his saying.

The biggest change, I believe is the following: the host is no longer myuvo.ca but kiaconnect.ca

All the API does not seems to have change except the login which is now: /tods/api/v2/login instead of /tods/api/lgn

[2021-11-04 22:51] olivierjag2 commented on #175
Do you Fix the problem?

[2021-11-05 13:15] sacua commented on #175
Hi,
By making some test with npm debug and making some modification to the src/constant/canada.ts.

The only modification that need to be done I believe is the host name which is now "kiaconnect.ca"

All the other commands seems to work except the "Start". I have an EV vehicule, so maybe with npm debug the "Start" does not work for EV vehicule (just a guest).

Also, thans to have develop this fant

[2021-11-05 13:23] Hacksore commented on #175
@sacua Mind sending a PR for this?

[2021-11-05 13:28] sacua commented on #175
Can try, but it will be the first time.

Le ven. 5 nov. 2021, à 09 h 24, Sean Boult ***@***.***> a
écrit :

[2021-11-05 20:17] sacua commented on #175
Everything seems solve here for Canada! Just need to update the node red contrib bluelinky.

[2021-11-05 21:39] olivierjag2 commented on #175
how update  red node repo?

[2021-11-06 04:38] james5294 commented on #145
US model - 2021 palisade doing the same.. any fix?

[2021-11-06 13:13] jaroslawsky commented on #170
Hey,

v7.6.1 with the changed newAuthClientId Guid works!!

Thank's a lot.

Perfect tool!

best regards,
Klaus

[2021-11-06 14:18] #170 closed

[2021-11-06 14:37] Hacksore commented on #175
@olivierjag2 you'd want to reinstall the node-red addon and it should get the latest bluelinky.

This was fixed in #176

[2021-11-06 14:37] #175 closed

[2021-11-06 14:46] Hacksore commented on #174
I've opened discussions for this project that we can use for requests like this. That or discord would be a good place to continue this discussion in more detail.

https://github.com/Hacksore/bluelinky/discussions
https://discord.gg/fpHkWVp26H

[2021-11-06 14:46] #174 closed

[2021-11-06 14:47] Hacksore commented on #145
@james5294 can you raise a new issue with all the details?

[2021-11-07 09:25] mpucherSmIT opened #179 "New account access rights (telefon, e-mail and such) not working with EU hyundai brand"
**Describe the bug**
I updated to v7.6.2 this morning and it stopped working. The console output said:

[2021-11-07 10:12:17] error: @EuropeController.login: sign in with EuropeanBrandAuthStrategy failed with error Error: @EuropeanBrandAuthStrategy.login: Cannot find the argument userId in https://eu-account.hyundai.com/auth/realms/euhyundaiidm/login-actions/authenticate?client_id=64621b96-0f0d-11

[2021-11-08 04:05] james5294 opened #180 "Engine not starting using homekit"
Describe the bug
The engine of my Hyundai does not successfully start. (via homebridge bluelink plugin which uses BlueLinky)

Useful info(please complete the following information):

OS: Homebridge (Linux)
Version: BlueLinky 7.6.2
Region: US
Vehicle:  2021 Palisade

Additional context
When trying to start the engine through Apple HomeKit the command gets sent however the command doesn't seem to ge

[2021-11-09 04:51] james5294 commented on #145
opened

[2021-11-09 04:52] james5294 commented on #145
@Hacksore opened!

[2021-11-10 15:05] gruijter commented on #179
@mpucherSmIT if you downgrade bluelinky to 7.6.1 your login is working again or not? Just want to make sure something broke in the 7.6.2 release.

[2021-11-15 13:52] GiveMeTheBits commented on #135
Now that kia_uvo US support is completed, is there any progress to getting the endpoints added to Bluelinky?

[2021-11-15 15:49] Hacksore commented on #135
@GiveMeTheBits I guess we are waiting for someone to drop a PR 😅

[2021-11-16 22:51] mjruotolo commented on #135
@Hacksore I am new to GIThub.  I are you talking a Pull Request?  Not sure how to do it but would love to get this going.  Would make my wife happy. :) We all know happy wife happy life :)

[2021-11-24 09:12] andig opened #181 "Documentation of EV features?"
According to readme `startCharge` is supported (EV feature?) and additional EV features:
- EV: driveHistory
- EV: getChargeTargets
- EV: setChargeLimits

It would be great if these could be added to the docs as well?

[2021-11-24 16:31] Hacksore commented on #181
if someone wants to use this issue to suggest the markdown documentation I'll add it to the readme.io docs.

[2021-11-24 16:40] andig commented on #181
Note: also found `stopCharge`, should be under EV same as `startCharge`

[2021-11-24 19:22] rikardkjell opened #182 "Vehicle Not Found Error"
When running the example js-code on a Raspberry Pi I get this error message...

(node:3742) UnhandledPromiseRejectionWarning: Error: Vehicle not found: ###VIN-NO###!
    at se.getVehicle (/home/pi/node_modules/bluelinky/dist/index.js:17:51727)
    at se.client.on (/home/pi/node_modules/bluelinky/run.js:13:26)
    at se.emit (events.js:182:13)
    at se.<anonymous> (/home/pi/node_modules/bluelinky/

[2021-11-25 07:03] PierreLevres commented on #182
Vehicle not found: ###VIN-NO###!

Seems like you did not enter your vin number in your Config file?

[2021-11-25 08:26] rikardkjell commented on #182
Sure did. Just didn't wanna publish my VIN-number here on GitHub so that part I didn't pass on ;-)

[2021-11-27 12:49] rarrr commented on #9
I've just got a car with the Auto Link.
I've defeated the cert pinning on the app but it looks like the data to the servers is encrypted, well beyond my knowledge.  I've blanked out some data because this is captured from the login process.
![image](https://user-images.githubusercontent.com/7687585/143681937-93369dbd-a2fe-470e-af95-a9b0f5d238e3.png)

[2021-11-27 12:55] Hacksore commented on #9
@rarrr So I guess they have the messages encrypted with a public key the client has and the server decrypts them with the private key?

It is possible to understand how the encryption process works client-side and we'd just have to send encrypted payloads.

Can you at least start sharing the endpoints you have been interacting with here?

[2021-11-27 22:12] rarrr commented on #9
Here are some.
https://autolinkapi-premium.hmca.com.au/api/app/user/login
https://api.myhyundai.com.au/autolinkservice.asmx?op=AuthenticateUser
https://autolinkapi-premium.hmca.com.au/api/app/user/login
https://autolinkapi-premium.hmca.com.au/api/app/Setting/view
https://autolinkapi-premium.hmca.com.au/api/app/Message/noticeNewCount
https://autolinkapi-premium.hmca.com.au/api/app/DrivingHistory/ge

[2021-11-30 14:09] james5294 commented on #180
nothing?

[2021-11-30 16:19] Hacksore commented on #180
@james5294 have you tried to reproduce in bluelinky without using HomeKit?

Sharing the debug logs from that could help move this ticket in a forward direction.

[2021-12-08 12:31] mjruotolo commented on #135
Just wonder if there is any progress?

[2021-12-13 16:10] yonigold1 commented on #145
I'm still having an issue with this. Is there anyone that's got theirs to work?

[2021-12-15 03:46] james5294 commented on #180
@Hacksore not shure how to use it other than this? this is my only use. any ideas?

[2021-12-15 04:03] Hacksore commented on #180
@james5294 you'd need to clone this repo and follow this https://github.com/Hacksore/bluelinky#debug-locally

[2021-12-21 12:59] christof62 opened #183 "Remote control service unavailable with refresh"
**Describe the bug**
Managed bluelinky error on get full status with set refresh option. Works w/o refresh option. With the "reduced" get status w/ refresh option no issue.
[code]

**Usefull info(please complete the following information):**
 - OS: hassio
 - Bluelinky Version [7.6.2]
 - Region: [EU]
 - Brand: [hyundai]

**Additional context**
Using the Node Red wrapper of bluelinky in a homeassist

[2021-12-21 13:05] neoPix commented on #183
Hi @christof62,

`503` errors are [server side errors](https://developer.mozilla.org/fr/docs/Web/HTTP/Status/503) which are not Bluelinky related.

The message returned in the exception `Unavailable remote control - Service Temporary Unavailable` also goes in this direction.

Can you can check with the mobile app, if you're having the same issue then it's a Hyundai side issue, if not, we'll invest

[2021-12-21 13:09] neoPix commented on #181
Those three are only EVs :
- getChargeTargets
- setChargeLimits
- driveHistory
Those two are limited to plugin hybrids and EVs :
- startCharge
- stopCharge

[2021-12-21 13:22] neoPix commented on #165
Found this code, and it seems our options relates to the packaged ones :

[code]

Also: here is how it's used

[code]

[2021-12-21 18:59] christof62 commented on #183
Hi neoPix,
sorry I forgot to mention that the status update with the app is working as expected.

[2021-12-21 19:26] PierreLevres commented on #183
Same error here since about 1 AM this morning.
Running bluelinky (npm run debug) with option full status with refresh works fine.
App works fine.
Running bluelinky from home assistant and node-red wrapper also 503 error.
Same car, same credentials, testing both methods a few seconds apart.

[2021-12-22 15:24] tuxedo0801 opened #184 "Battery drain on EV?"
Hi there,

just wondering whether regular queries (every 5mins?) will drain my EVs 12V battery?!
Does anyone know?

[2021-12-22 16:16] PierreLevres commented on #184
Yes it will when refresh is forced

[2021-12-22 16:58] tuxedo0801 commented on #184
Great. Then you should write this in big upper case letters into the readme, or?

[2021-12-22 22:26] Hacksore commented on #184
The default value for `refresh` is `false`

https://github.com/Hacksore/bluelinky/blob/develop/src/constants.ts#L26

[2021-12-23 08:23] tuxedo0801 commented on #184
And how this will stop people from doing regular refresh by an endless loop? And how will they know that regular refreshes drain their battery?

This is a serious issue. Got a new car, used the library via nodered and queried status every 5min, because I thought it works like Renault: always ask the Cloud, not the car itself.
Result: struggled two days with broken battery and went to the garage wi

[2021-12-23 09:57] PierreLevres commented on #183
Also getting location fails for me in node-red. @christof62 do you also get an error on the " get car location "  node in node-red? I do. The Full status refresh request also refreshes location in bluelinky. That one failes in my error log.

[2021-12-23 14:27] Hacksore commented on #184
If you are doing endless refresh queries what else would you expect?

I understand that a message in the readme would be beneficial, submit a PR.

[2021-12-23 16:06] PierreLevres commented on #183
Update:
After driving my car out of the parking garage it was working again. Both location node and full raw status with refresh box checked.. Strange behaviour, maybe a lack of GPS signal in deep sleep mode?

[2021-12-23 16:27] christof62 commented on #183
Getting the car location failed with bluelinky and the app. So this seems to be the issue. In order to get always an SOC update, I implemented now a workarround and request the status w/o position if the full status update fails.
Yes, I did the November update of the infotainment system.

[2021-12-23 17:48] PierreLevres commented on #184
I did...

[2021-12-23 19:55] tuxedo0801 commented on #184
How do you think people know that every query is sent to their car? I expected to query the last status the car has sent to the cloud from the cloud. I never expected that every query is sent to the car. I expected some kind of indirection. But this is more like a direct connection, with the cloud as a proxy.
That's why I find it so confusing. And that's why I expect to get warned by readme

[2021-12-23 20:05] PierreLevres commented on #184
You might wanna try pressing the refresh button in you app every 5 minutes. And when your battery is drained send a  formal complaint to Kia/Hyundai that the app didn't give you any warning? I wonder if they would change the readme file.

And instead of being irritated that the readme isn't up to your standards you could also be grateful that a group of volunteers is spending their precious spare

[2021-12-26 19:40] james5294 commented on #145
https://github.com/Hacksore/bluelinky/issues/180

[2021-12-27 04:43] paul43210 opened #186 "Unable to run getVehicle()"
**Describe the bug**
My appologies for being fairly new to nodejs...

Using this basic example:
[code]
I am receiving the following error:
[code]
Is there something obvious that I am missing?
Many thanks for your great support.

**Usefull info(please complete the following information):**
 - OS: Ubuntu xenial
 - Bluelinky Version bluelinky@7.6.2 build
 - Region: CA
 - Brand: hyundai

**Additional

[2021-12-27 12:38] olivierjag2 opened #187 "2nd car with nod red"
**Describe the bug**
When I add the second car in node red, my first car stop working

1rd car Kia Canada
2nd car Hyundai Canada

 - Region: CA
 - Brand: kia, hyundai

[2021-12-27 16:11] Hacksore commented on #184
Merged #185 which should give a warning in the readme. Feel free to continue the discussion but I'm closing this issue.

[2021-12-27 16:11] #184 closed

[2021-12-27 16:25] Hacksore commented on #187
@olivierjag2 Did you configure two bluelinky configs for each vehicle and use them accordingly in each node?

![image](https://user-images.githubusercontent.com/996134/147489879-89aa403d-6385-4594-91e5-9a2d1ea25002.png)

[2021-12-27 16:42] #186 closed

[2021-12-27 16:43] Hacksore commented on #186
@paul43210 Looks like there was a bug in the log statement using the wrong var. Can you pull in the changes from `develop` and confirm this is fixed?

I'll include it with the next release if all is good.

[2021-12-27 16:44] justinoreilly commented on #187
I also have the same issue. I have experienced similar behavior for about 2 months just haven't got around to submitting a PR until I saw this one flash through. I am in the US region though and each of my vehicles has a separate BlueLink account.
<img width="693" alt="Screen Shot 2021-12-27 at 11 41 48 AM" src="https://user-images.githubusercontent.com/7625409/147491172-46c2e17b-2a6e-40ab-83a5-a3

[2021-12-27 16:47] Hacksore commented on #182
I do think this could have been related to casing - I've changed it to lower both sides and this should be the solution here.

Will be included in the next release.

[2021-12-27 16:47] #182 closed

[2021-12-27 16:54] Hacksore commented on #179
Assuming this has to do with the account migrations debacle.

I will close this issue for now but please don't hesitate to add more info here that might be relevant.

[2021-12-27 16:54] #179 closed

[2021-12-27 17:01] Hacksore commented on #187
@justinoreilly is it possible the [case bug](https://github.com/Hacksore/bluelinky/commit/c707b80ed3a92be5a27bbf5fefa6be4edbb48a13#diff-a2a171449d862fe29692ce031981047d7ab755ae7f84c707aef80701b3ea0c80R114) was related here?

Depending on how the Hyundai server was storing the VIN it could have been trying to, for example, compare the following which would fail.

`VINABCD1234567890` == `vinabcd1234

[2021-12-27 17:12] justinoreilly commented on #187
@Hacksore I was able to confirm the case issue with the working vehicle. Setting the VIN to lowercase caused a fail. Upon changing it back to uppercase it worked.

I attempted to do the same with the vehicle that wasn't working and it produces the same error regardless of uppercase or lowercase VIN.

Also not sure if this is related but I am unable to rename the bluelinky config node. If I attempt

[2021-12-27 17:35] Hacksore commented on #187
Yeah looks like it's kind of related - we need to refactor a bit to support multiple vehicles in the node-red addon.

Right now there is only a single instance of bluelinky globally which is the root cause of the problem.

Closing in favor of the ticket downstream https://github.com/SondreNjaastad/node-red-contrib-bluelinky/issues/62

[2021-12-27 17:35] #187 closed

[2021-12-27 17:37] Hacksore commented on #183
Going to close this since seems like a service issue, not the library.

If I'm mistaken please add more context here or raise a new issue.

[2021-12-27 17:37] #183 closed

[2021-12-27 18:11] paul43210 commented on #186
Hi Sean,

Sorry, im new to this. I tried to run the following command to bring in the
develop branch:

npm install https://github.com/Hacksore/bluelinky.git#develop

But now it can't find the module:
node:internal/modules/cjs/loader:361
      throw err;
      ^

Error: Cannot find module
'/home/paul/node_modules/bluelinky/dist/index.js'. Please verify that the
package.json has a valid "main" entry

[2021-12-27 18:30] paul43210 commented on #186
Since the bluelinky folder was empty, i manually downloaded the develop
branch and ran "npm run build" but got this:

***@***.*** bluelinky]$ npm run build

src/index.ts → dist/index.js...
[!] (plugin rpt2) Error:
/home/paul/node_modules/bluelinky/src/controllers/european.controller.ts(155,114):
semantic error TS2571: Object is of type 'unknown'.
src/controllers/european.controller.ts
Error:
/home

[2021-12-27 18:45] paul43210 commented on #186
Had to do a bit of casting here here:
export const manageBluelinkyError = (
  err: unknown,
  context?: string
): unknown | Error | ManagedBluelinkyError => {
  if (err instanceof HTTPError) {
    return new ManagedBluelinkyError(
      `${context ? `@${context}: ` : ''}[${(err as HTTPError).statusCode}]
${(err as HTTPError).statusMessage} on [${
        (err as HTTPError).method
      }] ${(err a

[2021-12-27 22:00] mintgroen opened #188 "[EU] 503 on vehicle status"
I use Node red to call the API once a week to get the mileage. I noticed that the mileage was not updated so I retried it manually today, but no juice.

Some snippets from the node response:

{"source":{"name":"**HTTPError**","hostname":"prd.eu-ccapi.hyundai.com","method":"GET","path":"/api/v2/spa/vehicles/

"baseUrl":"https://prd.eu-ccapi.hyundai.com:8080/","method":"GET"},"**statusCode":503,"sta

[2021-12-28 06:32] PierreLevres commented on #188
What node in node red did you use? Car-fullstatus ? If so try the car-odometer node.
Did this start when you updated the navigation software on your car ?

My hunch is that car-location and car-fullstatus are failing on newest car software when car is in deep sleep and/or without proper GPS coverage (in a garage)

[2021-12-28 07:33] PierreLevres commented on #188
Also for a location refresh?

If you get a response in the app the server isn't down :)

[2021-12-28 09:23] mintgroen commented on #188
I've updated the navigation last week yes. But my car is on the driveway with a clear view of the sky and 5G reception.

I use car-fullstatus for some other details, but just tested with the Get car odometer, without any results.

Yes you are correct, the server is alive. Although the service does not respond as expected. Is Bluelinky ringing at the wrong door?

[2021-12-28 14:29] Hacksore commented on #186
@paul43210 Would be best to try and run the script with verbose logging so we can understand where the error is coming from. Be sure to mask any sensitive info when you share it.

`LOG_LEVEL=debug node ~/bl.js`

[2021-12-28 14:32] Hacksore commented on #188
Maybe the call has changed in some way where our implementation is no longer working effectively?

I have to leave this one to the EU maintainers if they have time

cc @neoPix @SondreNjaastad

[2021-12-29 01:01] paul43210 commented on #186
***@***.*** ~]$ LOG_LEVEL=debug node ~/bl.js
[2021-12-28 19:58:01] debug: CA Controller created
[2021-12-28 19:58:01] debug: Bluelinky is logging in automatically, to
disable use autoLogin: false
[2021-12-28 19:58:01] info: Begin login request
[2021-12-28 19:58:01] debug: [https://mybluelink.ca/tods/api/lgn] {}
***@***.***","password":"xxxxx"}
[2021-12-28 19:58:03] debug: {
  "accessToken":
"eyJlb

[2021-12-29 01:51] paul43210 commented on #186
Added a bit more debug around:
"src/vehicles/canadian.vehicle.ts"
  private async request(endpoint, body: any, headers: any = {}):
Promise<any | null> {
...

[2021-12-28 20:47:24] debug: Token not expired, no need to refresh
[2021-12-28 20:47:24] debug: Options:
[2021-12-28 20:47:24] debug: {
  "method": "POST",
  "timeout": 30000,
  "json": true,
  "throwHttpErrors": false,
  "headers": {
    "fr

[2021-12-29 02:20] paul43210 commented on #186
Seems to be an issue with my account? I also can't start my car with the
mobile app, gives a similar error... Unfortunately their tech support is
not very responsive.

I just ran this code:
    try {
      const response = await got(endpoint, options);
logger.debug('got() complete');

*if (response?.body) {  logger.debug(response.body);}*
      if (response.body.responseHeader.responseCode != 0) {

[2021-12-29 03:08] alpha1125 commented on #135
Any idea on genesis support? https://www.youtube.com/watch?v=AinlqmZ4rVk 2020-05-20

If so, how can I help?

[2021-12-29 12:13] PierreLevres commented on #188
I updated my car software yesterday tot the latest version, but still /location fails after a few hours when the car goes to sleep.
I implemented a workaround in node-red: if refreshed full status fails (because fail on /location call) then get the cached full status and overwrite the vehicleStatus key with a refreshed (non-full) status.
Looks a lot like the way the public async fullStatus(input:

[2021-12-29 16:37] Hacksore commented on #135
@alpha1125 You'd want to reverse engineer the mobile app and submit a PR once something worth merging in.

That would deserve a stand-alone issue to better focus the discussion though.

[2021-12-29 16:40] Hacksore commented on #186
@paul43210 I guess we have to wait until you can get a successful response from the app before we keep digging at the library code :)

[2022-01-07 14:59] ad666666 opened #190 "code need update"
await got(`${this.environment.baseUrl}/api/v1/spa/notifications/register`,

    body: {
          pushRegId: credentials.gcm.token,
          pushType: 'GCM',
          uuid: this.session.deviceId,
        },

****************************
bluelink new version
on body  add      providerDeviceId
so  new body:{
 pushRegId: credentials.gcm.token,
          pushType: 'GCM',
          uuid: this.session

[2022-01-07 15:22] neoPix commented on #190
Hi @ad666666, do you get any kind of error when `providerDeviceId` is not set ?

[2022-01-07 15:28] neoPix commented on #188
Checked the Android app code :
- The HTTP request is still the same,
- The location once received is stored locally on the phone,
- When the request fails, a message is shown and the stored position is used as a substitute,
So :shrug:, appears that the location requests can sometimes fail

[2022-01-07 15:40] ad666666 commented on #190
will not ,i read bulelink code just now,providerDeviceId  be  use for set message to user
i am a chinese developer ,my english is not good,

[2022-01-11 15:08] Hacksore commented on #190
If `providerDeviceId` is needed now we need a good idea of how to do that.

@ad666666 Please provide what the value should be and if it's dynamic or static.

[2022-01-11 15:10] Hacksore commented on #188
@neoPix if it randomly fails then it's more just a service side issue and not something we can really fix.

I'm going to close this and just mention that as a consumer you need to handle errors in your code.

[2022-01-11 15:10] #188 closed

[2022-01-11 15:16] Hacksore commented on #165
Since this issue hasn't gotten much traction I'm going to close it.

[2022-01-11 15:16] #165 closed

[2022-01-11 15:22] Hacksore commented on #180
I'd say before we visit anything here we have [homebridge-hyundai-bluelink](https://github.com/athal7/homebridge-hyundai-bluelink) updated to use bluelinky `v7.6.2`.

However, it looks like @athal7 is in the same boat as I am, we no longer own Hyundai vehicles 😅.

@james5294 I'll close this issue for now but if you can get this tested on the latest bluelinky please raise a new issue.

[2022-01-11 15:22] #180 closed

[2022-01-11 18:38] fuatakgun commented on #135
@cdnninja and me are working on home assistant automation platform integration and couple of our users contributed to support USA. We are planning to contribute back to here but not defined a date yet.

[2022-01-14 07:46] binderth commented on #181
I try to set the charge limit(s), but it seems, I don't get the payload right. What das `setChargeLimits` expect as payload to set the limit for AC (and/or DC) charging?

[2022-01-14 10:41] PierreLevres opened #192 "EU EV driveHistory errs with parameter All (2)"
When driveHistory is called with parameter historyDrivingPeriod.ALL (in casu 2), the function fails on mapping the output.
My raw output of the API call (response.body.resMsg) is
{
  drivingInfoDetail: [
    {
      drivingPeriod: 0,
      drivingDate: '20220112',
      totalPwrCsp: 9026,
      motorPwrCsp: 5983,
      climatePwrCsp: 1463,
      eDPwrCsp: 1580,
      batteryMgPwrCsp: 0,
      rege

[2022-01-14 10:51] PierreLevres opened #193 "EU EV driveHistory gives ' Invalid date' with parameter Month (1)"
When driveHistory is called with parameter historyDrivingPeriod.MONTH (in casu 1), dates in the output are parsed to ' InvalidDate' by the function parseDate in srs/util.ts. That function does not know how to cope with  drivingDate: '202201'.
Suggested solution to add day 01 ?

The raw output of the API call (response.body.resMsg) is
drivingInfoDetail: [
    {
      drivingPeriod: 1,
      driving

[2022-01-17 12:24] mpucherSmIT opened #194 "Weak mobile signal strength leads to '5031', 'Unavailable remote control - Service Temporary Unavailable'"
Hi,

I have very weak mobile signal strength in the garage (see screenshot of signal meter attached) and this leads to timeouts I think when trying to request status and location of my kona.

Are there any possibilities to increase timeouts as a user of bluelinky?

Thank you!

![Screenshot_20220117-131332](https://user-images.githubusercontent.com/38916244/149768741-f505021c-91ec-43f5-80d3-92846b5

[2022-01-17 12:28] mpucherSmIT commented on #194
Log (I removed all UUID/Ids that might be related to my vehicle/account with '...'):

`_ [ManagedBluelinkyError]: @EuropeVehicle.location: [503] Service Unavailable on [GET] https://prd.eu-ccapi.hyundai.com:8080/api/v2/spa/vehicles/.../location - {"retCode":"F","resCode":"5031","resMsg":"Unavailable remote control - Service Temporary Unavailable","msgId":"15de6a1f-ac48-46d0-b108-c467073129c5"}

[2022-01-17 15:03] neoPix commented on #194
Hi @mpucherSmIT,

This kind of error happens when Bluelink (or UVO) cannot manage to establish a connection between there servers and the vehicle.

This integration (Bluelinky) doesn't have anything to do with this as doing the same action from the app should give the same result.

[2022-01-17 15:05] neoPix commented on #193
Hi @PierreLevres,

Nice catch, I'm adding this to my todo :wink:

- [ ] Manage the date conversion when the day information is absent (eg: `202201`)
- [ ] Add unit tests for this specific case

[2022-01-17 15:07] neoPix commented on #192
Hi @PierreLevres,

I'll give a look to this. Maybe the API changed since our last implementation.

[2022-01-17 17:13] mpucherSmIT commented on #194
Hi @neoPix thanks for your reply.

The bluelink app always seems to fall back to server cached values (in the new version). I haven't seen that "No response from vehicle" in the new version but often had that with the old bluelink app.

bluelinky only supports cached values in status(), right?

[2022-01-21 03:30] MSpurlock-HT commented on #135
+1 for Genesis US support

[2022-01-21 10:04] PierreLevres opened #197 "Confusing name of parameter windscreenheating"
In calling start vehicle in EU, EV two boolean parameters are passed.

defrost  --> defrosting the front windscreen;  maps to 'defrost' in API
windscreenheating --> heats the rear window, side mirrors and steering wheel ;  maps to ' heating1 ' in API

The name second one is pretty confusing, since it doesn't do anything with the windscreenheating. I'd like it to be renamed BUT:
Since a lot of impl

[2022-01-22 14:24] #193 closed

[2022-01-22 14:24] #192 closed

[2022-01-22 14:28] Hacksore commented on #194
I'm not sure we have a way to get cached values for `location` and `odometer` in all regions.

A PR for that change is welcomed but for now, I'd suggest handling the timeout in your code/logic.

[2022-01-22 14:28] #194 closed

[2022-01-22 14:29] Hacksore commented on #197
@PierreLevres The plan is to rename all of them for consistency.

It's documented here https://bluelinky.readme.io/reference/start

[2022-01-23 11:48] PierreLevres commented on #197
How can I contribute and give feedback?
In the current implementation, in the /start command in Europe:
unit : string "C" for Celsius (not integer)
defrost : defrosts frontwindow and does not warm backwindow and sidemirrors and steeringwheel
heating1 : does warm backwindow and sidemirrors and steeringwheel

[2022-01-24 16:19] Hacksore commented on #197
I'd say here is a good place to discuss them and make updates.

Please propose any other changes to the docs then as we implment the change for `8.x` we can follow this.

Name | Type | Comment
-- | -- | --
hvac | string | Turn on the HVAC
duration | string | How long to run the vehicle's engine (max 10)
temperature | integer | Temp in Fahrenheit for the HVAC
defrost | boolean | Turn on defrosters

[2022-01-30 20:47] stibbzy commented on #9
Any further progress on this? I’d love this integration to work with my Aussie Ioniq!

[2022-02-01 01:55] SteffeyDev opened #198 "Remote Start fails"
**Describe the bug**
I'm trying to use bluelinky to control my 2022 Hyundai Tucson Hybrid, and everything is working great except the remote start feature.  I get the error `Failed to start vehicle`, and if I dig further I see the underlying error:

[code]

**Usefull info:**
 - OS: macOS
 - Bluelinky Version 7.6.2
 - Region: US
 - Brand: Hyundai

**Additional context**
I'm able to trigger remote s

[2022-02-01 02:12] Hacksore commented on #198
@SteffeyDev can you share your start code?

[2022-02-01 02:17] SteffeyDev commented on #198
Yes, I copied the example from the README for testing:
[code]

[2022-02-01 02:56] Hacksore commented on #198
@SteffeyDev you might want to try `igniOnDuration: 10`, I believe 15 is over the limit causing the 502 on their API.

[2022-02-01 03:04] SteffeyDev commented on #198
That did it! Thanks for the help, might be worth adding to the docs so that future people don't make the same mistake 👍🏻

[2022-02-01 03:08] Hacksore commented on #198
@SteffeyDev

It does have a blurb here saying max 10 but not sure if you saw that.

https://bluelinky.readme.io/reference/start

[2022-02-01 03:08] #198 closed

[2022-02-01 03:11] SteffeyDev commented on #198
Wow I am blind, sorry to bother!

[2022-02-01 03:14] Hacksore commented on #198
Issues still help people find via searches so no worries at all.

I highly doubt that every region is 10 minutes max engine runtime as that would imply Hyundai/Kia/Genesis has consistency in their APIs 😬.

[2022-02-07 12:07] jaroslawsky opened #199 "Authorization error"
**Describe the bug**
Since today getVehicle returns an error. Until yesterday everything worked.

**Usefull info(please complete the following information):**
 - OS: Linux
 - Bluelinky Version v7.6.2
 - Region: EU
 - Brand: hyundai

**Additional context**
Error message:
[ManagedBluelinkyError]: @EuropeController.login: [401] Unauthorized on [POST] https://prd.eu-ccapi.hyundai.com:8080/api/v1/spa/n

[2022-02-07 12:17] jaroslawsky commented on #199
Correction:
It's not the getVehicle call. The error comes when starting the server. So it's the instantiation of the BlueLinky object.

[2022-02-07 12:39] Hacksore commented on #199
Yeah, auth seems to have changed and we are discussing the solution on discord in this thread.

https://discord.com/channels/652755205041029120/940144903441244210

[2022-02-07 12:43] Hacksore commented on #190
Consider opening a new issue if more information is discovered on this.

[2022-02-07 12:43] #190 closed

[2022-02-07 16:01] Hacksore commented on #199
I believe it's fixed with https://github.com/Hacksore/bluelinky/commit/4c7efb6ea6726175936fab5ea8827e56aa9c3553 - will see if I can get a patch out today with this as well.

[2022-02-07 16:01] #199 closed

[2022-02-13 11:02] andig opened #208 "Login without changing the language?"
Not a bluelinky question, but related to the login flow: evcc user complained that login changes the language: https://github.com/evcc-io/evcc/issues/2578. Is it possible to complete login without forcing a specific language?

[2022-02-14 14:45] neoPix commented on #208
Hi @andig,

When login in EU we use this line to set the language and initiate the login process : https://github.com/Hacksore/bluelinky/blob/d085c5eccdd5d3edda29451796b1bb37bd4e35b5/src/controllers/authStrategies/authStrategy.ts#L15

As a matter of fact, the language you use here is applied to your account after the logon, and finally used in the app.

[2022-02-14 14:49] andig commented on #208
Yes, thought so. Apparently there's not way to *get* the user#s language upfront to avoid overriding it :(

[2022-02-14 14:52] neoPix commented on #208
Did not found a way yet to do so.
If you don't do it, it wil default to:

[2022-02-14 15:51] #208 closed

[2022-02-21 16:08] memed36 opened #209 "EU/Hyundai setting heating temperature value not used"
When using start() to trigger hvac heating is started, but temperature value is not used - always defaults to last value set in Bluelink app.
I used the code sample from https://bluelinky.readme.io/reference/start to create a js script "start.js" which works (npm run start shows no error, HVAC in my BEV car starts), but the temp value is ignored. I set temp to 17, 25 and 27 (celsius) bit when veri

[2022-02-21 16:14] PierreLevres commented on #209
For European BEV's, see the bluelinky code:
public async start(config: VehicleClimateOptions): Promise<string> {
  const http = await this.controller.getVehicleHttpService();
  try {
    const response = this.updateRates(
      await http.post(`/api/v2/spa/vehicles/${this.vehicleConfig.id}/control/temperature`, {
        body: {
          action: 'start',
          hvacType: 0,
          options:

[2022-02-21 16:48] neoPix commented on #209
As @PierreLevres  pointed out, the start arguments changed, now this interface is expected : https://github.com/Hacksore/bluelinky/blob/22c3d8ed505cb26669eaf624e0142ca46745f22a/src/interfaces/common.interfaces.ts#L419

[2022-02-21 18:17] memed36 commented on #209
Thanks, missed that!
My bad.

[2022-02-21 18:17] #209 closed

[2022-02-23 08:52] torsten3009 commented on #199
since two days again same error with version 2.2.2 - first it was working with this version

`@EuropeVehicle.status: [401] Unauthorized on [GET] https://prd.eu-ccapi.hyundai.com:8080/api/v2/spa/vehicles/xxxxxxxx/status - {"retCode":"F","resCode":"4017","resMsg":"Invalid request value - Invalid Application Id. - 80825.48399996758","msgId":"e4ddfd6c-9108-4c16-a5b3-cf1b63f74715"}`

[2022-03-16 08:17] nhet opened #210 "EU / Hyundai 12V batSoc: 255"
Since a while the interface has been getting the value 255 for the 'batSoc' attribute of the 12V battery.

[2022-03-17 06:50] PierreLevres commented on #210
Whats does you phone app say? Is the battery icon still green?
Is all other data recent?

[2022-03-17 07:20] nhet commented on #210
Hello @PierreLevres ,
Since I while, may be at the same time with value 255, I don't see the battery icon any more in the app (android).

[2022-03-17 07:23] PierreLevres commented on #210
Then I think this is not a bluelinky issue, but related to your car; is your car still OK?
Did you try to log off and logon tho the app, and also in your bluelinky implementation?

[2022-03-17 07:35] nhet commented on #210
@PierreLevres, yes the car is OK. I did log off and logon to the app, too. Nothing change. The battery icon is still not shown.

[2022-03-17 07:47] PierreLevres commented on #210
Strange. If a reset of the head unit doesn't work (paperclip into the hole next to the volume button), then I think you should bring it in for service.

[2022-04-12 06:43] mpucherSmIT commented on #210
Hi there,

I also get 255 quite some time. In the screenshot the battery has been charged externaly after failing (again). But then at some point it goes back to normal % values.

Does 255 have some meaing?

![image](https://user-images.githubusercontent.com/38916244/162897195-da59986a-c18a-4421-8627-7f62001316cc.png)

[2022-04-16 14:35] pakerfeldt opened #211 "What does batState mean?"
**Question**

Can someone tell me what battery.batState is meant to indicate? I have noticed on my Ioniq 5 that when batState is 1, batSoc is never set. This refers to the 12V auxillary battery.

Thanks!

[2022-04-17 12:40] pakerfeldt commented on #211
My current guess is that it means 12V battery is being charged from the big battery but would love to get that confirmed.

[2022-04-17 12:53] PierreLevres commented on #211
My guess was that BatState relates to the Battery State icon as shown in the App. Batstate = 0 is Normal. 1 = caution  (orange) What does your app show when batstate = 1 ? Is the indicator light on the car showing the 12V battery is being charged from the big battery when bat state = 1 ?

[2022-04-17 19:36] pakerfeldt commented on #211
Trying to look for that icon in the app but can't find it? However, I don't think it relates to caution. It more or less always set to 1 as soon as I connect my car to the charge box (even though the car doesn't necessarily charge).

[2022-04-18 07:13] PierreLevres commented on #211
It is the only api output which could be used by the app for this icon.

[2022-04-18 08:24] pakerfeldt commented on #211
I disagree. It's more likely that they look for when batSoc is less than batSignalReferenceValue (which for me is 65 right now) and use that to trigger the caution icon.

[2022-04-18 08:32] PierreLevres commented on #211
Couuld very well be true… But not willing to experiment here!

[2022-04-18 08:38] pakerfeldt commented on #211
I mean, voltage is just fine and stable on my 12V battery. The batState highly correlates to turning the engine on and connecting the charge cable. I’ve never seen the caution warning in the app. I’m very certain it has nothing to do with that. Just need to figure out what it means still.

[2022-04-26 06:52] binderth opened #212 "JSON format of Status: full, parsed, cached"
Is there anywhere a explanation of the information hidden in the status-JSON?
like, what information is coming with full, parsed, and cached option?

I get the feeling, that my "cached" JSON is missing some of the "full" JSON information? And I _think_, that was different a while ago? I seem to remember having the same JSON structure for cached and full at the time I set up my node-red-contrib-blu

[2022-04-26 13:59] Hacksore commented on #212
Updated the docs here https://bluelinky.readme.io/reference/status

Does this help?

[2022-04-26 14:00] #210 closed

[2022-04-26 14:01] Hacksore commented on #211
Continued discussion is welcomed in discord or GitHub discussions.

[2022-04-26 14:01] #211 closed

[2022-04-26 14:39] binderth commented on #212
helps, thank you!

but apparently, the EU servers (my EV6 is german bound) either are out-of-sync or they have hickups presently! ;)

My JSON from "`cached`" look pretty different from "`full`", but from what I read they should be the same and "`parsed`" is a "compressed" version from what I learned so far?

and: it looks different from your 2020-example, perhaps there's a difference between model

[2022-04-27 07:50] binderth commented on #212
updated my JSON-payloads for what I get right now, and for what I see, there is a big difference between full and cached.

[2022-04-29 14:05] Hacksore commented on #212
I didn't take the time to document `fullStatus` it is only a EU feature. If someone is inclined to do that please let me know and I can add you as an editor to the docs :).

For now, closing this issue but the discussion is still encouraged.

[2022-04-29 14:05] #212 closed

[2022-05-04 05:21] bogdannedelcu commented on #181
![image](https://user-images.githubusercontent.com/8427812/166626697-64c8c435-e68a-4021-ba65-69ea2e2efee3.jpeg) do you know an option to send charging current options for EV?

[2022-05-04 05:58] PierreLevres commented on #181
This option is not available in the app. So no reverse engineering has taken place. So the answer up until today is ‘no’.

[2022-05-31 23:09] Jens5395 opened #216 "Location no longer works"
About a week to ten days ago, my automation to locate my Hyundai Kona broke and has not worked since. I am in Canada and use bluelinky 0.0.27
In ny node red test flow I set up. I use only three nodes - inject time stamp, car location and Msg for a debug output. When I inject the time stamp, the msg output is " payload: "error: TypeError: Cannot read properties of undefined (reading 'result')"
I ha

[2022-07-10 06:08] cheick66 opened #219 "set_chargetargets gets message undefined"
**Describe the bug**
Hi, I try to set the charge target, but receive a message like undefined.
request: req/bluelinky/set_chargetargets : msg.payload : Object { fast: 80, slow: 70 }
answer:
10.7.2022, 07:56:37[node: 811aa567.e89f98](http://192.168.178.40:1880/#)
msg.payload : undefined
undefined

Other workflows are working as expected. If I request a car status all information is available. Chang

[2022-07-10 20:07] xerion3800 commented on #219
Hi i gues you should use it like this:
msg.payload : Object _{ "fast": 80, "slow": 70 }_

[2022-07-10 20:35] PierreLevres commented on #219
Indeed. That is the way it is also documenten in the help for the node:

        {"fast": number, "slow": number}

[2022-07-11 08:39] cheick66 commented on #219
I've sent it in that style { "fast": 80, "slow": 70 } by MQTT to the Node-Red workflow.
That is working for other payloads too:
`{"defrost": true, "windscreenHeating": true, "temperature": 18, "unit": "C"}`
This example will start the air conditioning.

[2022-07-12 05:54] PierreLevres commented on #219
To reconfirm, a small test

Function contains:

The set msg.payloads contain:

The debug node contains:

So although the output from the ’set charge target nodes’  is ‘Undefined’, it does set the charge targets to the wanted 70/70.

[2022-07-13 14:02] cheick66 commented on #219
Hi all,
thanks for your support.
I can confirm, that it is working, as you accepted. It's maybe my fault, because I was to fast on checking the result :-)
If I give that process more time, I can see the result inside of the mobile App.

I will also try to add the "small test", to learn more about node-Red.

Best regards
    Christian

[2022-07-13 14:02] #219 closed

[2022-07-20 08:05] piejanssens opened #220 "Is the documentation up to date on supported features?"
I saw some issues with reference to code about climate controls, but I don't see that in the documentation.

P.S. Is there any hope on controlling features that are not exposed in the app because of a region lock? For example, in some regions it's possible to remotely control climate of a Kia Sorento PHEV, but Europe this is not. ==> "Vehicle is not EV" 😞

[2022-07-22 17:15] Hacksore commented on #220
The docs might be outdated for sure but can you share what you might be trying to run in your code.

[2022-07-25 08:17] #220 closed

[2022-08-05 21:00] filmgeek47 commented on #220
Not sure if this is a blue-linky problem, but I'm running the home bridge plugin that leverages bluelinky for its calls. On my Ioniq 5 EV, lock/unlock work great, but the climate start won't work no matter what I do.

[2022-08-09 14:44] Hacksore commented on #220
@filmgeek47 could you open a new issue with the payload you are using and if you can debug logs?

[2022-08-09 16:52] filmgeek47 opened #221 "HomeKit plug-in using bluelinky fails to start climate"
**Describe the bug**
Currently running the home bridge bluelinky-based plug-in for controlling my Ioniq5. Unlocking and locking doors works fine, but no matter how I adjust the settings I can’t get climate start to work (mostly tested with the duration set to 10 as that matches the default duration from blue link).

**Usefull info(please complete the following information):**
 - OS: iOS
 - Bluelin

[2022-08-12 18:50] Hacksore commented on #221
@SteffeyDev Not sure that anything would be solved using `v8.x` but there is an experimental alpha to try out.

As for the payload, I'm not sure how the EVs vs ICE vehicles respond to the payload but I'd assume this would work on an EV.

v7
[code]

But for v8 it'd be something like this (untested)
[code]

[2022-08-15 10:51] Vy-CES opened #222 "Does this support a hyundai car in Vietnam"
Hi @Hacksore , I am interested in installing this plugin into my car (Hyundai Accent 2021) in Vietnam, is it possible?

[2022-08-15 11:57] Hacksore commented on #222
@Vy-CES It sounds like it could be a totally new region which we don't have support for.

It takes a good deal of effort to reverse engineer the mobile app but that's where someone has to start.

[2022-08-16 02:03] Vy-CES commented on #222
Well if someone has to start, I guess I can do it and contribute back to the repository.

Is it possible that you can share me the steps from scratch? @Hacksore

[2022-08-16 12:52] Hacksore commented on #222
@Vy-CES this doc is was what I created back in the day.

While it's not likely to be completely irrelevant there have been some security techniques we've seen in certain regions that will require more steps making it hard to reverse.

https://docs.google.com/document/d/1q0Pz2t5Gmt-vv8z-2Yswhvg2x9B2f3d1vjpkIjt9EfQ/edit

[2022-08-24 07:37] noltondyer opened #223 "Seat Heating/Ventilation"
Earlier this year, there was a post in the Bluelinky Discord mentioning the possibility of adding seat heating/ventilation commands (seatHeaterVentInfo) into the start body, like so:

const response = await vehicle.start ({
airCtrl: true,
igniOnDuration: 10,
airTempvalue: 72,
seatHeaterventInfo: {
drvSeatHeatstate: 5,
astSeatHeatState: 6,
},
defrost: false,
heating1: false,
}):

I was wondering if

[2022-08-26 21:33] Hacksore commented on #223
Is `seatHeaterventInfo` something that is only in say the `EU` region?

[2022-09-23 22:08] Hanrider8 opened #226 "Does not work with Nextjs deployed on Vercel"
**Describe the bug**
I am trying to use bluelinky on vercel via api functions but getting error : `ENOENT: no such file or directory, open '/var/task/node_modules/push-receiver/src/gcm/android_checkin.proto'`

**Usefull info(please complete the following information):**
 - OS: [Do not know what Vercel has]
 - Bluelinky Version [v7.6.6]
 - Region: [EU]
 - Brand: [kia, hyundai]

**Additional context

[2022-09-25 14:13] Hacksore commented on #226
I tried a simple demo and seemed to work fine on my end.

Would you be able to create a demo repo of the issue and I can take a look?

[2022-09-25 16:01] Hanrider8 commented on #226
What version of nodejs are you running on Vercel ?
Do you have it on pages/api/{route} on nextJS ?

Sure I will create demo repo. @Hacksore

[2022-09-25 20:44] Hanrider8 commented on #226
Soo here is repo [demo repo](https://github.com/Hanrider8/bluelinky-vercel/blob/main/pages/api/odometer.ts)

Credentials I have in this form `BLUELINK_CREDENTIALS={"proceed":{"cred":{"username":"usr","password":"pass","brand":"kia","region":"EU","pin":"pin"},"vim":"vim"}}`

Here is link to my vercel where is repo deployed with endpoint [https://bluelinky-vercel-gaur.vercel.app/api/odometer?id=proc

[2022-09-28 07:11] Hanrider8 commented on #226
Hello, any news? @Hacksore

[2022-09-28 13:08] Hacksore commented on #226
@Hanrider8 so I created a fork of your just to try and I can't seem to rerpro that same error.

https://github.com/Hacksore/bluelinky-vercel/tree/simple-test
https://bluelinky-vercel.vercel.app/api/odometer

Keep in mind I don't have an account to replicate with vehicles so maybe that has something to do with it.

Does it only happen when you create a vehicle instance and call odometer?

[2022-09-28 14:30] Hanrider8 commented on #226
yes yes, during build time or runtime there are  no errors. Only after instance call.

[2022-09-28 17:32] kalleguld opened #227 "Support for getting/setting charging schedule"
Some EVs (eg. the Hyundai Ioniq 5) have the option of setting a charging schedule from the BlueLink App. Will it be possible to view and edit this schedule from BlueLinky?

Alternatively, if someone has an API description from Hyundai, I'd be happy to make a a pull request.

[2022-09-29 15:09] Hacksore commented on #227
Possible but it would require someone to find the endpoints 😬.

[2022-09-29 19:17] kalleguld commented on #227
Do you have a good way of finding the endpoint? Decompilation? Wireshark?

[2022-09-29 19:45] PierreLevres commented on #227
Some python code I had working before I switched to Bluelinky and node-red completely

`    def api_get_chargeschedule(self):
        if not self.check_control_token(): return False
        # location
        url = BaseURL[self.userConfig.brand] + '/api/v2/spa/vehicles/' + self.vehicleConfig.id + '/reservation/charge'
        headers = {
            'Host': BaseHost[self.userConfig.brand], 'Accept

[2022-09-29 21:36] Hacksore commented on #226
Yeah that is very strange. Are you using `npm` or `yarn` on the install stage within vercel?

Also what version of node are you using, worked for my on 16.x?

[2022-09-29 21:37] Hacksore commented on #227
This is what I've written in the past https://docs.google.com/document/d/1q0Pz2t5Gmt-vv8z-2Yswhvg2x9B2f3d1vjpkIjt9EfQ/edit?usp=sharing

[2022-10-05 22:55] kalleguld commented on #227
Getting the `/reservation/charge` endpoint as @PierreLevres suggested works fine. But POSTing to that endpoint results in a `503 Service Unavailable` message. Anyone got a clue?

[2022-10-11 16:30] cheick66 commented on #219
Hi Pierre,
for me it's working, I can see the changes in my Handy App and I can get a status by bluelinky with the changes values.

1. you send out the values
2. after a while you update the app and should see the changed values
3. also after short time you start a getall status inside your Node-Red workflow and it should also show the changes

Best regards
   Christian

[2022-10-13 22:37] Hanrider8 commented on #226
it seems like all serverless hosting providers have same issue and also it seems like problem is with one dependency.

[2022-10-13 23:15] Hacksore commented on #226
If want to raise an upstream issue to the affected module that could possibly help.

[2022-10-14 12:40] Hacksore commented on #226
@Hanrider8 you might be able to see if a demo repo with just `push-receiver` has issues deployed to vercel or other providers as just a simple project that uses it somehow.

[2022-10-14 17:35] Hanrider8 commented on #226
I will try that.

[2022-11-02 13:47] cdnninja commented on #223
It supports CA for sure as well.  The payload is documented here for canada: https://github.com/fuatakgun/kia_uvo/issues/225

More done on the reading side here for EU: https://github.com/fuatakgun/kia_uvo/issues/195

We believe this is the mapping table for seats.  Heat status has similiar: `1: Unknown
2: Off
3: Low Cool
4: Medium Cool
5: Full Cool
6: Low Heat
7: Medium Heat
8: High Heat`